AudioControl.json
[{"id":"146c4120.c827d7","type":"tab","label":"Audio Control","disabled":false,"info":""},{"id":"358d1725.ab3158","type":"mqtt in","z":"146c4120.c827d7","name":"Rotel","topic":"Rotel","qos":"2","datatype":"auto","broker":"14126d53.044b83","x":70,"y":320,"wires":[["43697dda.69224c"]]},{"id":"43697dda.69224c","type":"switch","z":"146c4120.c827d7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"source=phono!","vt":"str"},{"t":"cont","v":"source=tuner!","vt":"str"},{"t":"cont","v":"source=analog_cd!","vt":"str"},{"t":"cont","v":"source=bluetooth!","vt":"str"},{"t":"cont","v":"source=coax1!","vt":"str"},{"t":"cont","v":"source=coax2!","vt":"str"},{"t":"cont","v":"source=coax3!","vt":"str"},{"t":"cont","v":"source=usb!","vt":"str"},{"t":"cont","v":"source=opt1!","vt":"str"},{"t":"cont","v":"source=opt2!","vt":"str"},{"t":"cont","v":"source=opt3!","vt":"str"},{"t":"cont","v":"source=pc_usb!","vt":"str"},{"t":"cont","v":"source=aux!","vt":"str"},{"t":"cont","v":"source=bal_xlr!","vt":"str"},{"t":"cont","v":"volume=","vt":"str"}],"checkall":"false","repair":false,"outputs":15,"x":210,"y":320,"wires":[["8cd97f77.ffcbd8"],["65ec2848.458db8"],["8039a0f2.c9dc18"],["dc348f2c.c9c7b8"],["2f80bf79.210b08"],["4cd7f3e8.c205e4"],["25e0c1b4.5a80d6"],["2116a82c.dd8228"],["5dd28a2e.e51ca4"],["a959da30.eb25c"],["e6556b48.7fd45"],["1533d9a0.7f3cae"],["c5111afd.5efe48"],["4031fe3e.041a68"],["339c0f87.b064f8"]]},{"id":"8cd97f77.ffcbd8","type":"change","z":"146c4120.c827d7","name":"PHONO","rules":[{"t":"set","p":"payload","pt":"msg","to":"PHONO     - Turntable","tot":"str"},{"t":"set","p":"ActiveSource","pt":"flow","to":"PHONO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":40,"wires":[["cc669751.e7acf"]]},{"id":"65ec2848.458db8","type":"change","z":"146c4120.c827d7","name":"TUNER","rules":[{"t":"set","p":"payload","pt":"msg","to":"ROTEL Radio/Streamer","tot":"str"},{"t":"set","p":"ActiveSource","pt":"flow","to":"TUNER","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":80,"wires":[["cc669751.e7acf"]]},{"id":"8039a0f2.c9dc18","type":"change","z":"146c4120.c827d7","name":"CD","rules":[{"t":"set","p":"payload","pt":"msg","to":"Rotel CD Player","tot":"str"},{"t":"set","p":"ActiveSource","pt":"flow","to":"CD","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":120,"wires":[["cc669751.e7acf"]]},{"id":"dc348f2c.c9c7b8","type":"change","z":"146c4120.c827d7","name":"BLUETOOTH","rules":[{"t":"set","p":"payload","pt":"msg","to":"BLUETOOTH  ","tot":"str"},{"t":"set","p":"ActiveSource","pt":"flow","to":"BT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":160,"wires":[["cc669751.e7acf"]]},{"id":"2f80bf79.210b08","type":"change","z":"146c4120.c827d7","name":"COAX1","rules":[{"t":"set","p":"payload","pt":"msg","to":"COAX1     -","tot":"str"},{"t":"set","p":"ActiveSource","pt":"flow","to":"COAX1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":200,"wires":[["cc669751.e7acf"]]},{"id":"4cd7f3e8.c205e4","type":"change","z":"146c4120.c827d7","name":"COAX2","rules":[{"t":"set","p":"payload","pt":"msg","to":"COAX2     -","tot":"str"},{"t":"set","p":"ActiveSource","pt":"flow","to":"COAX2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":240,"wires":[["cc669751.e7acf"]]},{"id":"25e0c1b4.5a80d6","type":"change","z":"146c4120.c827d7","name":"COAX3","rules":[{"t":"set","p":"payload","pt":"msg","to":"COAX3     -","tot":"str"},{"t":"set","p":"ActiveSource","pt":"flow","to":"COAX3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":280,"wires":[["cc669751.e7acf"]]},{"id":"2116a82c.dd8228","type":"change","z":"146c4120.c827d7","name":"USB","rules":[{"t":"set","p":"payload","pt":"msg","to":"USB       -","tot":"str"},{"t":"set","p":"ActiveSource","pt":"flow","to":"USB","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":320,"wires":[["cc669751.e7acf"]]},{"id":"5dd28a2e.e51ca4","type":"change","z":"146c4120.c827d7","name":"OPT1","rules":[{"t":"set","p":"payload","pt":"msg","to":"OPT1      -","tot":"str"},{"t":"set","p":"ActiveSource","pt":"flow","to":"OPT1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":360,"wires":[["cc669751.e7acf"]]},{"id":"a959da30.eb25c","type":"change","z":"146c4120.c827d7","name":"OPT2","rules":[{"t":"set","p":"payload","pt":"msg","to":"OPT2      -","tot":"str"},{"t":"set","p":"ActiveSource","pt":"flow","to":"OPT2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":400,"wires":[["cc669751.e7acf"]]},{"id":"e6556b48.7fd45","type":"change","z":"146c4120.c827d7","name":"OPT3","rules":[{"t":"set","p":"payload","pt":"msg","to":"OPT3      -","tot":"str"},{"t":"set","p":"ActiveSource","pt":"flow","to":"OPT3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":440,"wires":[["cc669751.e7acf"]]},{"id":"1533d9a0.7f3cae","type":"change","z":"146c4120.c827d7","name":"PC-USB","rules":[{"t":"set","p":"payload","pt":"msg","to":"Volumio","tot":"str"},{"t":"set","p":"ActiveSource","pt":"flow","to":"PC_USB","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":480,"wires":[["cc669751.e7acf"]]},{"id":"c5111afd.5efe48","type":"change","z":"146c4120.c827d7","name":"AUX","rules":[{"t":"set","p":"payload","pt":"msg","to":"Samsung TV","tot":"str"},{"t":"set","p":"ActiveSource","pt":"flow","to":"AUX","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":520,"wires":[["cc669751.e7acf"]]},{"id":"4031fe3e.041a68","type":"change","z":"146c4120.c827d7","name":"XLR","rules":[{"t":"set","p":"payload","pt":"msg","to":"XLR       -","tot":"str"},{"t":"set","p":"ActiveSource","pt":"flow","to":"XLR","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":560,"wires":[["cc669751.e7acf"]]},{"id":"339c0f87.b064f8","type":"change","z":"146c4120.c827d7","name":"Volume","rules":[{"t":"change","p":"payload","pt":"msg","from":"volume=","fromt":"str","to":" 0","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"!","fromt":"str","to":" ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":600,"wires":[["c1822a7d.fdda7"]]},{"id":"cc669751.e7acf","type":"ui_text","z":"146c4120.c827d7","group":"dcf78d9f.820f","order":1,"width":"0","height":"0","name":"Source Selected","label":"","format":"{{msg.payload}}","layout":"row-center","x":910,"y":280,"wires":[]},{"id":"36712703.8a12b8","type":"mqtt out","z":"146c4120.c827d7","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":880,"y":2260,"wires":[]},{"id":"35f902.1d2beefe","type":"ui_template","z":"146c4120.c827d7","group":"647d9dc8.ecf0d4","name":"Volume Down","order":7,"width":"4","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: 'Volume Down'})\"> \n    Volume<br/>(-)\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":100,"y":2360,"wires":[["bbce4496.d5a5c8"]]},{"id":"9a457b86.1d9308","type":"ui_template","z":"146c4120.c827d7","group":"647d9dc8.ecf0d4","name":"Volume Up","order":3,"width":"4","height":"2","format":"\n<md-button class=\"filled touched bigfont rounded vibrate\" style=\"background-color:#FF8C00\" ng-click=\"send({payload: 'Volume Up'})\"> \n    Volume<br/>(+)\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":110,"y":2140,"wires":[["558cb322.c82b4c"]]},{"id":"18d06633.77824a","type":"ui_template","z":"146c4120.c827d7","group":"647d9dc8.ecf0d4","name":"css etc","order":1,"width":"0","height":"0","format":"<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n  \n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":80,"y":2480,"wires":[[]]},{"id":"b75e97f1.ccd198","type":"ui_template","z":"146c4120.c827d7","group":"647d9dc8.ecf0d4","name":"Mute","order":4,"width":"4","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#A9A9A9\"   ng-click=\"send({payload: 'Mute'})\"> \n    Mute<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":130,"y":2260,"wires":[["6e71a2b8.acc92c"]]},{"id":"1821e64b.499052","type":"ui_template","z":"146c4120.c827d7","group":"dcf78d9f.820f","name":"Play","order":3,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#008000\" ng-click=\"send({payload: 'play'})\"> \n    ►<br/>Play\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":90,"y":1260,"wires":[["f91ecc63.27e078"]]},{"id":"f91ecc63.27e078","type":"switch","z":"146c4120.c827d7","name":"Check ACTIVE SOURCE","property":"ActiveSource","propertyType":"flow","rules":[{"t":"eq","v":"CD","vt":"str"},{"t":"eq","v":"TUNER","vt":"str"},{"t":"eq","v":"PC_USB","vt":"str"},{"t":"eq","v":"AUX","vt":"str"},{"t":"eq","v":"None","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":330,"y":1260,"wires":[["505837e7.a0df4"],["f3f98fb0.101f"],["1c02d30e.b41185"],["25a5c3f7.6b2fe4"],["25a5c3f7.6b2fe4"]]},{"id":"1c02d30e.b41185","type":"change","z":"146c4120.c827d7","name":"PC_USB Play","rules":[{"t":"set","p":"payload","pt":"msg","to":"m","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1260,"wires":[["59833bc9.518fbc"]]},{"id":"f3f98fb0.101f","type":"change","z":"146c4120.c827d7","name":"TUNER Play","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C1C8C837,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1220,"wires":[["5b9b29b2.ab45b8"]]},{"id":"505837e7.a0df4","type":"change","z":"146c4120.c827d7","name":"CD Play","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C148C837,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1180,"wires":[["5b9b29b2.ab45b8"]]},{"id":"25a5c3f7.6b2fe4","type":"change","z":"146c4120.c827d7","name":"Aux Play","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0E21D,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1300,"wires":[["5b9b29b2.ab45b8"]]},{"id":"be22fbc9.fbb77","type":"ui_template","z":"146c4120.c827d7","group":"dcf78d9f.820f","name":"Stop","order":2,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\" ng-click=\"send({payload: 'play'})\"> \n    ■<br/>Stop\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":90,"y":1440,"wires":[["f345849.aa0f2f8"]]},{"id":"f345849.aa0f2f8","type":"switch","z":"146c4120.c827d7","name":"Check ACTIVE SOURCE","property":"ActiveSource","propertyType":"flow","rules":[{"t":"eq","v":"CD","vt":"str"},{"t":"eq","v":"TUNER","vt":"str"},{"t":"eq","v":"PC_USB","vt":"str"},{"t":"eq","v":"AUX","vt":"str"},{"t":"eq","v":"None","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":330,"y":1440,"wires":[["52357134.4010b"],["7f756d69.65e00c"],["2dd86dfc.872ad2"],["88648c3c.7a5548"],["88648c3c.7a5548"]]},{"id":"2dd86dfc.872ad2","type":"change","z":"146c4120.c827d7","name":"PC_USB STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"Play Press for PC_USB","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1440,"wires":[[]]},{"id":"7f756d69.65e00c","type":"change","z":"146c4120.c827d7","name":"TUNER STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C1C8F00F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1400,"wires":[["87b0f7b3.e6a0f8"]]},{"id":"52357134.4010b","type":"change","z":"146c4120.c827d7","name":"CD STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C148F00F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1360,"wires":[["87b0f7b3.e6a0f8"]]},{"id":"88648c3c.7a5548","type":"change","z":"146c4120.c827d7","name":"Aux STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0629D,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1480,"wires":[["87b0f7b3.e6a0f8"]]},{"id":"c6173054.ce99c8","type":"ui_template","z":"146c4120.c827d7","group":"dcf78d9f.820f","name":"Prev","order":5,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#708090\" ng-click=\"send({payload: 'play'})\"> \n    ◄◄<br/>Prev\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":90,"y":1620,"wires":[["1b8eef2c.b14299"]]},{"id":"1b8eef2c.b14299","type":"switch","z":"146c4120.c827d7","name":"Check ACTIVE SOURCE","property":"ActiveSource","propertyType":"flow","rules":[{"t":"eq","v":"CD","vt":"str"},{"t":"eq","v":"TUNER","vt":"str"},{"t":"eq","v":"PC_USB","vt":"str"},{"t":"eq","v":"AUX","vt":"str"},{"t":"eq","v":"None","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":330,"y":1620,"wires":[["9bc0f2d9.d182e"],["d1bc90b6.4b9ef"],["84df78a1.daa928"],["b835ec39.e65eb8"],["b835ec39.e65eb8"]]},{"id":"84df78a1.daa928","type":"change","z":"146c4120.c827d7","name":"PC_USB RWD","rules":[{"t":"set","p":"payload","pt":"msg","to":"m","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1620,"wires":[["51bd2567.15804c"]]},{"id":"d1bc90b6.4b9ef","type":"change","z":"146c4120.c827d7","name":"TUNER RWD","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C1C8708F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1580,"wires":[["9e61f556.1b5ba"]]},{"id":"9bc0f2d9.d182e","type":"change","z":"146c4120.c827d7","name":"CD RWD","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C148708F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1540,"wires":[["9e61f556.1b5ba"]]},{"id":"b835ec39.e65eb8","type":"change","z":"146c4120.c827d7","name":"Aux RWD","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0A25D,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1660,"wires":[["9e61f556.1b5ba"]]},{"id":"b6997208.99ba08","type":"ui_template","z":"146c4120.c827d7","group":"dcf78d9f.820f","name":"Next","order":6,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#708090\" ng-click=\"send({payload: 'play'})\"> \n    ►►<br/>Next\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":90,"y":1780,"wires":[["d6053a2a.b884c8"]]},{"id":"d6053a2a.b884c8","type":"switch","z":"146c4120.c827d7","name":"Check ACTIVE SOURCE","property":"ActiveSource","propertyType":"flow","rules":[{"t":"eq","v":"CD","vt":"str"},{"t":"eq","v":"TUNER","vt":"str"},{"t":"eq","v":"PC_USB","vt":"str"},{"t":"eq","v":"AUX","vt":"str"},{"t":"eq","v":"None","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":330,"y":1780,"wires":[["1408c5df.7afc3a"],["44fe41cd.802198"],["2605bc29.ee046c"],["a8587dc0.c888f8"],["a8587dc0.c888f8"]]},{"id":"2605bc29.ee046c","type":"change","z":"146c4120.c827d7","name":"PC_USB FWD","rules":[{"t":"set","p":"payload","pt":"msg","to":"m","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1800,"wires":[["7b2a7402.3240f4"]]},{"id":"44fe41cd.802198","type":"change","z":"146c4120.c827d7","name":"TUNER FWD","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C1C858A7,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1760,"wires":[["c42ea02c.32c65"]]},{"id":"1408c5df.7afc3a","type":"change","z":"146c4120.c827d7","name":"CD FWD","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C14858A7,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1720,"wires":[["c42ea02c.32c65"]]},{"id":"a8587dc0.c888f8","type":"change","z":"146c4120.c827d7","name":"Aux FWD","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E012ED,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1840,"wires":[["c42ea02c.32c65"]]},{"id":"cb262e39.286638","type":"ui_template","z":"146c4120.c827d7","group":"dcf78d9f.820f","name":"Pause","order":4,"width":"4","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#A9A9A9\" ng-click=\"send({payload: 'play'})\"> \n    ||<br/>PAUSE\n</md-button>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":90,"y":1960,"wires":[["481fab3.9f85554"]]},{"id":"481fab3.9f85554","type":"switch","z":"146c4120.c827d7","name":"Check ACTIVE SOURCE","property":"ActiveSource","propertyType":"flow","rules":[{"t":"eq","v":"CD","vt":"str"},{"t":"eq","v":"TUNER","vt":"str"},{"t":"eq","v":"PC_USB","vt":"str"},{"t":"eq","v":"AUX","vt":"str"},{"t":"eq","v":"None","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":330,"y":1960,"wires":[["2c7546c2.820eca"],["a9ea666b.7a5ff8"],["14f98ef1.6df809"],["d84d9212.5244a"],["d84d9212.5244a"]]},{"id":"14f98ef1.6df809","type":"change","z":"146c4120.c827d7","name":"PC_USB PAUSE","rules":[{"t":"set","p":"payload","pt":"msg","to":"m","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1980,"wires":[["761ab0e4.a25a38"]]},{"id":"a9ea666b.7a5ff8","type":"change","z":"146c4120.c827d7","name":"TUNER PAUSE","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C1C8D02F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1940,"wires":[["bb3b219e.36daa8"]]},{"id":"2c7546c2.820eca","type":"change","z":"146c4120.c827d7","name":"CD PAUSE","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C148D02F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1900,"wires":[["bb3b219e.36daa8"]]},{"id":"d84d9212.5244a","type":"change","z":"146c4120.c827d7","name":"Aux PAUSE ","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E052AD,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":2020,"wires":[["bb3b219e.36daa8"]]},{"id":"5b9b29b2.ab45b8","type":"mqtt out","z":"146c4120.c827d7","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":900,"y":1300,"wires":[]},{"id":"87b0f7b3.e6a0f8","type":"mqtt out","z":"146c4120.c827d7","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":900,"y":1480,"wires":[]},{"id":"9e61f556.1b5ba","type":"mqtt out","z":"146c4120.c827d7","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":900,"y":1660,"wires":[]},{"id":"c42ea02c.32c65","type":"mqtt out","z":"146c4120.c827d7","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":900,"y":1840,"wires":[]},{"id":"bb3b219e.36daa8","type":"mqtt out","z":"146c4120.c827d7","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":900,"y":2020,"wires":[]},{"id":"7b2a7402.3240f4","type":"mqtt out","z":"146c4120.c827d7","name":"","topic":"Volumio-01/set/next","qos":"","retain":"","broker":"14126d53.044b83","x":890,"y":1800,"wires":[]},{"id":"761ab0e4.a25a38","type":"mqtt out","z":"146c4120.c827d7","name":"","topic":"Volumio-01/set/pause","qos":"","retain":"","broker":"14126d53.044b83","x":880,"y":1980,"wires":[]},{"id":"59833bc9.518fbc","type":"mqtt out","z":"146c4120.c827d7","name":"","topic":"Volumio-01/set/play","qos":"","retain":"","broker":"14126d53.044b83","x":890,"y":1260,"wires":[]},{"id":"51bd2567.15804c","type":"mqtt out","z":"146c4120.c827d7","name":"","topic":"Volumio-01/set/prev","qos":"","retain":"","broker":"14126d53.044b83","x":880,"y":1620,"wires":[]},{"id":"570a4ede.ebd7d","type":"ui_led","z":"146c4120.c827d7","group":"2bc1f28e.6dbd86","order":7,"width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"true","valueType":"bool"},{"color":"grey","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Amp Status LED","x":420,"y":800,"wires":[]},{"id":"8d18ebae.9c6d98","type":"ping","z":"146c4120.c827d7","mode":"timed","name":"Amp","host":"192.168.0.26","timer":"10","inputs":0,"x":50,"y":780,"wires":[["c10bd77d.4fc618"]]},{"id":"c10bd77d.4fc618","type":"function","z":"146c4120.c827d7","name":"","func":"var trueMsg = { payload: true };\nvar falseMsg = { payload: false };\n\n\nif(msg.payload===false)\n{\n    return falseMsg; \n}\nelse{\n        return trueMsg; \n\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":780,"wires":[["570a4ede.ebd7d","c43dd35a.2f4cf8"]]},{"id":"c43dd35a.2f4cf8","type":"switch","z":"146c4120.c827d7","name":"Check Status","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":760,"wires":[["9585a49e.f3d7f8","83402d88.6390c8","f26083e8.d1ec9","151d09ec.c618c6","39939cbc.bcda2c"],["74547048.105bc","5049ef8e.de362"]]},{"id":"9585a49e.f3d7f8","type":"change","z":"146c4120.c827d7","name":"Set Volume 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":640,"wires":[["158acf63.60f1c1"]]},{"id":"c1822a7d.fdda7","type":"switch","z":"146c4120.c827d7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"100","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":600,"wires":[["158acf63.60f1c1","9c65d7da.6b445"]]},{"id":"158acf63.60f1c1","type":"ui_artlessgauge","z":"146c4120.c827d7","group":"b4da9d9e.6adef","order":1,"width":"6","height":"6","name":"Volume","icon":"fa-volume-up","label":"","unit":"","layout":"radial","decimals":0,"differential":false,"minmax":true,"colorTrack":"#555555","style":"10,0,round","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":true,"sectors":[{"val":0,"col":"#ffff00","t":"min","dot":4},{"val":100,"col":"#ffff00","t":"max","dot":4}],"lineWidth":"13","bgcolorFromTheme":true,"diffCenter":"","x":1020,"y":640,"wires":[]},{"id":"72f012c2.a49a0c","type":"ping","z":"146c4120.c827d7","mode":"timed","name":"TV(30)","host":"192.168.0.30","timer":"30","inputs":0,"x":50,"y":860,"wires":[["e3b4ccad.f696b8"]]},{"id":"e3b4ccad.f696b8","type":"function","z":"146c4120.c827d7","name":"","func":"var trueMsg = { payload: true };\nvar falseMsg = { payload: false };\n\n\nif(msg.payload===false)\n{\n    return falseMsg; \n}\nelse{\n        return trueMsg; \n\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":860,"wires":[["c1325a1e.a19f48","ed3ae5fa.c69cb"]]},{"id":"c1325a1e.a19f48","type":"switch","z":"146c4120.c827d7","name":"Check Status","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":880,"wires":[["e7d86bec.f1e86"],["58274450.511bd4"]]},{"id":"e7d86bec.f1e86","type":"change","z":"146c4120.c827d7","name":"TVStatus 0","rules":[{"t":"set","p":"TVStatus","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":880,"wires":[[]]},{"id":"58274450.511bd4","type":"change","z":"146c4120.c827d7","name":"TVStatus 1","rules":[{"t":"set","p":"TVStatus","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":920,"wires":[[]]},{"id":"ed3ae5fa.c69cb","type":"ui_led","z":"146c4120.c827d7","group":"2bc1f28e.6dbd86","order":1,"width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"true","valueType":"bool"},{"color":"grey","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"TV Status LED","x":420,"y":840,"wires":[]},{"id":"83402d88.6390c8","type":"change","z":"146c4120.c827d7","name":"Clear Source Text window","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":560,"wires":[["cc669751.e7acf"]]},{"id":"81c8d610.425928","type":"debug","z":"146c4120.c827d7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":2100,"wires":[]},{"id":"f26083e8.d1ec9","type":"change","z":"146c4120.c827d7","name":"AmpStatus 0","rules":[{"t":"set","p":"AmpStatus","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":680,"wires":[[]]},{"id":"74547048.105bc","type":"change","z":"146c4120.c827d7","name":"AmpStatus 1","rules":[{"t":"set","p":"AmpStatus","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":840,"wires":[[]]},{"id":"9c65d7da.6b445","type":"change","z":"146c4120.c827d7","name":"Set Volume","rules":[{"t":"set","p":"Volume","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":600,"wires":[[]]},{"id":"2879d3fa.021f84","type":"change","z":"146c4120.c827d7","name":"Amp Volume Up","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C1886897,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2140,"wires":[["36712703.8a12b8"]]},{"id":"558cb322.c82b4c","type":"switch","z":"146c4120.c827d7","name":"Check Amp Status","property":"AmpStatus","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":2140,"wires":[["2879d3fa.021f84"],["7295d4e6.474cac"]]},{"id":"7295d4e6.474cac","type":"switch","z":"146c4120.c827d7","name":"Check TV Status if true","property":"TVStatus","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":2200,"wires":[["b53d1e6d.8d64a8"]]},{"id":"b53d1e6d.8d64a8","type":"change","z":"146c4120.c827d7","name":"TV Vol + (7,E0E0E01F,32)","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0E01F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":2200,"wires":[["36712703.8a12b8"]]},{"id":"5a17b678.23d22","type":"change","z":"146c4120.c827d7","name":"TV Vol - (7,E0E0D02F,32)","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0D02F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":2420,"wires":[["36712703.8a12b8"]]},{"id":"bbce4496.d5a5c8","type":"switch","z":"146c4120.c827d7","name":"Check Amp Status","property":"AmpStatus","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":2360,"wires":[["d7cbd33d.05c13"],["9f0e0eb0.0dcec"]]},{"id":"9f0e0eb0.0dcec","type":"switch","z":"146c4120.c827d7","name":"Check TV Status if true","property":"TVStatus","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":2420,"wires":[["5a17b678.23d22"]]},{"id":"d7cbd33d.05c13","type":"change","z":"146c4120.c827d7","name":"Amp Volume Dn","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C188E817,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2360,"wires":[["36712703.8a12b8"]]},{"id":"994ac06b.bf25d8","type":"change","z":"146c4120.c827d7","name":"Amp Mute","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C18818E7,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":2260,"wires":[["36712703.8a12b8"]]},{"id":"6e71a2b8.acc92c","type":"switch","z":"146c4120.c827d7","name":"Check Amp Status","property":"AmpStatus","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":2260,"wires":[["994ac06b.bf25d8"],["6ee47cb.5bc2684"]]},{"id":"6ee47cb.5bc2684","type":"switch","z":"146c4120.c827d7","name":"Check TV Status if true","property":"TVStatus","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":2320,"wires":[["5d4f8e43.898a2"]]},{"id":"5d4f8e43.898a2","type":"change","z":"146c4120.c827d7","name":"TV Mute (7,E0E0F00F,32)","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0F00F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":2320,"wires":[["36712703.8a12b8"]]},{"id":"151d09ec.c618c6","type":"change","z":"146c4120.c827d7","name":"Source set to None","rules":[{"t":"set","p":"ActiveSource","pt":"flow","to":"None","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":720,"wires":[[]]},{"id":"cc5b2bed.31e068","type":"ui_template","z":"146c4120.c827d7","group":"647d9dc8.ecf0d4","name":"Amp Volume  -10","order":6,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#A9A9A9\"   ng-click=\"send({payload: 'Volume Down'})\"> \n    Amp(-10)<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":100,"y":2840,"wires":[["994a7a25.85dc88"]]},{"id":"5364c9e9.f7f8","type":"change","z":"146c4120.c827d7","name":"TV Vol - (7,E0E0D02F,32)","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0D02F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":2920,"wires":[["946dd752.075aa"]]},{"id":"994a7a25.85dc88","type":"switch","z":"146c4120.c827d7","name":"Check Amp Status","property":"AmpStatus","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":2840,"wires":[["8da00c39.45fa98","2a1cce21.bee63a","20c9cfc2.c6677","ae5c4ff5.98163","3dfa2d5f.e5e962","695d79cf.4f007","a346d904.4a965","4fa4661c.e8a11","caaa8133.16ac68","af23482c.08e098"],[]]},{"id":"4bba4eae.81f0e8","type":"switch","z":"146c4120.c827d7","name":"Check TV Status if true","property":"TVStatus","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":2920,"wires":[["708f4a0c.3b2dac","e6cbbdc4.89b51","73e53f54.c319b8","6f753f8d.1b2e7","94f53ec6.00e9f","696fb390.bce95c","3fcafd1d.fde61a","ce48539f.bcadf8","5d74d525.15071c","818f99cc.f30588"]]},{"id":"76103b68.ccc244","type":"change","z":"146c4120.c827d7","name":"Amp Volume Dn","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C188E817,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":2480,"wires":[["ca40245.e554758"]]},{"id":"b9dc9833.21b3d8","type":"change","z":"146c4120.c827d7","name":"Amp Volume Dn","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C188E817,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":2520,"wires":[["ca40245.e554758"]]},{"id":"2a1cce21.bee63a","type":"delay","z":"146c4120.c827d7","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":2520,"wires":[["b9dc9833.21b3d8"]]},{"id":"20c9cfc2.c6677","type":"delay","z":"146c4120.c827d7","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":2560,"wires":[["48d3f98a.2d8e4"]]},{"id":"ae5c4ff5.98163","type":"delay","z":"146c4120.c827d7","name":"","pauseType":"delay","timeout":"750","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":2600,"wires":[["c58a74b8.aa895"]]},{"id":"3dfa2d5f.e5e962","type":"delay","z":"146c4120.c827d7","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":2640,"wires":[["ce75fd6f.59c9"]]},{"id":"695d79cf.4f007","type":"delay","z":"146c4120.c827d7","name":"","pauseType":"delay","timeout":"1250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":2680,"wires":[["4f93871b.0f5438"]]},{"id":"8da00c39.45fa98","type":"delay","z":"146c4120.c827d7","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":2480,"wires":[["76103b68.ccc244"]]},{"id":"a346d904.4a965","type":"delay","z":"146c4120.c827d7","name":"","pauseType":"delay","timeout":"1500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":2720,"wires":[["e90d0ffe.3f924"]]},{"id":"4fa4661c.e8a11","type":"delay","z":"146c4120.c827d7","name":"","pauseType":"delay","timeout":"1750","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":2760,"wires":[["2c4ae7d9.d78b88"]]},{"id":"caaa8133.16ac68","type":"delay","z":"146c4120.c827d7","name":"","pauseType":"delay","timeout":"2000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":2800,"wires":[["446a5468.37a63c"]]},{"id":"af23482c.08e098","type":"delay","z":"146c4120.c827d7","name":"","pauseType":"delay","timeout":"2250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":2840,"wires":[["b63ee49b.38a65"]]},{"id":"e6cbbdc4.89b51","type":"delay","z":"146c4120.c827d7","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":2960,"wires":[["638a1037.fb2f38"]]},{"id":"73e53f54.c319b8","type":"delay","z":"146c4120.c827d7","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":3000,"wires":[["a7fef746.0dd108"]]},{"id":"6f753f8d.1b2e7","type":"delay","z":"146c4120.c827d7","name":"","pauseType":"delay","timeout":"750","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":3040,"wires":[["2b28f27a.9298c6"]]},{"id":"94f53ec6.00e9f","type":"delay","z":"146c4120.c827d7","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":3080,"wires":[["c17f9b56.133898"]]},{"id":"696fb390.bce95c","type":"delay","z":"146c4120.c827d7","name":"","pauseType":"delay","timeout":"1250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":3120,"wires":[["2f0432f1.a1c3be"]]},{"id":"708f4a0c.3b2dac","type":"delay","z":"146c4120.c827d7","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":2920,"wires":[["5364c9e9.f7f8"]]},{"id":"3fcafd1d.fde61a","type":"delay","z":"146c4120.c827d7","name":"","pauseType":"delay","timeout":"1500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":3160,"wires":[["e149cdc2.731f8"]]},{"id":"ce48539f.bcadf8","type":"delay","z":"146c4120.c827d7","name":"","pauseType":"delay","timeout":"1750","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":3200,"wires":[["7a1a26cc.2fd25"]]},{"id":"5d74d525.15071c","type":"delay","z":"146c4120.c827d7","name":"","pauseType":"delay","timeout":"2000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":3240,"wires":[["c61c9fcc.471b1"]]},{"id":"818f99cc.f30588","type":"delay","z":"146c4120.c827d7","name":"","pauseType":"delay","timeout":"2250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":3280,"wires":[["1ba1293c.21e18f"]]},{"id":"48d3f98a.2d8e4","type":"change","z":"146c4120.c827d7","name":"Amp Volume Dn","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C188E817,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":2560,"wires":[["ca40245.e554758"]]},{"id":"c58a74b8.aa895","type":"change","z":"146c4120.c827d7","name":"Amp Volume Dn","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C188E817,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":2600,"wires":[["ca40245.e554758"]]},{"id":"ce75fd6f.59c9","type":"change","z":"146c4120.c827d7","name":"Amp Volume Dn","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C188E817,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":2640,"wires":[["ca40245.e554758"]]},{"id":"4f93871b.0f5438","type":"change","z":"146c4120.c827d7","name":"Amp Volume Dn","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C188E817,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":2680,"wires":[["ca40245.e554758"]]},{"id":"e90d0ffe.3f924","type":"change","z":"146c4120.c827d7","name":"Amp Volume Dn","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C188E817,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":2720,"wires":[["ca40245.e554758"]]},{"id":"2c4ae7d9.d78b88","type":"change","z":"146c4120.c827d7","name":"Amp Volume Dn","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C188E817,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":2760,"wires":[["ca40245.e554758"]]},{"id":"446a5468.37a63c","type":"change","z":"146c4120.c827d7","name":"Amp Volume Dn","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C188E817,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":2800,"wires":[["ca40245.e554758"]]},{"id":"b63ee49b.38a65","type":"change","z":"146c4120.c827d7","name":"Amp Volume Dn","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C188E817,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":2840,"wires":[["ca40245.e554758"]]},{"id":"638a1037.fb2f38","type":"change","z":"146c4120.c827d7","name":"TV Vol - (7,E0E0D02F,32)","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0D02F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":2960,"wires":[["946dd752.075aa"]]},{"id":"a7fef746.0dd108","type":"change","z":"146c4120.c827d7","name":"TV Vol - (7,E0E0D02F,32)","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0D02F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":3000,"wires":[["946dd752.075aa"]]},{"id":"2b28f27a.9298c6","type":"change","z":"146c4120.c827d7","name":"TV Vol - (7,E0E0D02F,32)","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0D02F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":3040,"wires":[["946dd752.075aa"]]},{"id":"c17f9b56.133898","type":"change","z":"146c4120.c827d7","name":"TV Vol - (7,E0E0D02F,32)","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0D02F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":3080,"wires":[["946dd752.075aa"]]},{"id":"2f0432f1.a1c3be","type":"change","z":"146c4120.c827d7","name":"TV Vol - (7,E0E0D02F,32)","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0D02F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":3120,"wires":[["946dd752.075aa"]]},{"id":"e149cdc2.731f8","type":"change","z":"146c4120.c827d7","name":"TV Vol - (7,E0E0D02F,32)","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0D02F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":3160,"wires":[["946dd752.075aa"]]},{"id":"7a1a26cc.2fd25","type":"change","z":"146c4120.c827d7","name":"TV Vol - (7,E0E0D02F,32)","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0D02F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":3200,"wires":[["946dd752.075aa"]]},{"id":"c61c9fcc.471b1","type":"change","z":"146c4120.c827d7","name":"TV Vol - (7,E0E0D02F,32)","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0D02F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":3240,"wires":[["946dd752.075aa"]]},{"id":"1ba1293c.21e18f","type":"change","z":"146c4120.c827d7","name":"TV Vol - (7,E0E0D02F,32)","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0D02F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":3280,"wires":[["946dd752.075aa"]]},{"id":"ca40245.e554758","type":"mqtt out","z":"146c4120.c827d7","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":1200,"y":2840,"wires":[]},{"id":"946dd752.075aa","type":"mqtt out","z":"146c4120.c827d7","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":1200,"y":2920,"wires":[]},{"id":"39939cbc.bcda2c","type":"change","z":"146c4120.c827d7","name":"Volume Text Amp OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":760,"wires":[["b847af15.7fef6"]]},{"id":"5049ef8e.de362","type":"change","z":"146c4120.c827d7","name":"Volume Text Amp On","rules":[{"t":"set","p":"payload","pt":"msg","to":"RA-1592","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":800,"wires":[["62e352bd.bfc064"]]},{"id":"62e352bd.bfc064","type":"ui_text","z":"146c4120.c827d7","group":"647d9dc8.ecf0d4","order":2,"width":"4","height":"1","name":"Volume Controls","label":"","format":"{{msg.payload}}","layout":"row-center","x":1520,"y":800,"wires":[]},{"id":"b847af15.7fef6","type":"switch","z":"146c4120.c827d7","name":"Check TV Status","property":"TVStatus","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":760,"wires":[["7a33c7b2.863158"],["41195194.3e7a58"]]},{"id":"7a33c7b2.863158","type":"change","z":"146c4120.c827d7","name":"Amp & TV Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":740,"wires":[["62e352bd.bfc064"]]},{"id":"41195194.3e7a58","type":"change","z":"146c4120.c827d7","name":"Amp Off & TV ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"Samsung TV","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":780,"wires":[["62e352bd.bfc064"]]},{"id":"44ada39f.acbe44","type":"ui_template","z":"146c4120.c827d7","group":"647d9dc8.ecf0d4","name":"TV Volume -10","order":5,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#A9A9A9\"   ng-click=\"send({payload: 'Volume Down'})\"> \n    TV (-10)<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":100,"y":2920,"wires":[["4bba4eae.81f0e8"]]},{"id":"8a786ff3.49d13","type":"ui_template","z":"146c4120.c827d7","group":"dcf78d9f.820f","name":"Blank 1","order":4,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#A9A9A9\" ng-click=\"send({payload: 'play'})\"> \n    <br/>\n</md-button>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":100,"y":2040,"wires":[[]]},{"id":"afae8691.558148","type":"ui_template","z":"146c4120.c827d7","group":"dcf78d9f.820f","name":"Blank 2","order":4,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#A9A9A9\" ng-click=\"send({payload: 'play'})\"> \n    <br/>\n</md-button>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":100,"y":2080,"wires":[[]]},{"id":"14126d53.044b83","type":"mqtt-broker","name":"Home","broker":"192.168.0.11","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dcf78d9f.820f","type":"ui_group","name":"Source","tab":"fb399a97.269488","order":2,"disp":false,"width":"4","collapse":false},{"id":"647d9dc8.ecf0d4","type":"ui_group","name":"Volume","tab":"fb399a97.269488","order":1,"disp":false,"width":"4","collapse":false},{"id":"2bc1f28e.6dbd86","type":"ui_group","name":"Power","tab":"feed4f6.4d4ba3","order":2,"disp":false,"width":"6","collapse":false},{"id":"b4da9d9e.6adef","type":"ui_group","name":"RA-1592","tab":"fb399a97.269488","order":3,"disp":false,"width":"6","collapse":false},{"id":"fb399a97.269488","type":"ui_tab","name":"Audio","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"feed4f6.4d4ba3","type":"ui_tab","name":"Audio Source & Power","icon":"dashboard","order":3,"disabled":false,"hidden":false}]