AudioSources.json
[{"id":"47d2f2a1.c87154","type":"tab","label":"Audio Sources","disabled":false,"info":""},{"id":"f394f4a5.249bf8","type":"change","z":"47d2f2a1.c87154","name":"REM5 CH4 ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"REM5 CH4 ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":920,"wires":[["b4acb835.0cd7b8"]]},{"id":"347d9519.bce1f2","type":"ui_template","z":"47d2f2a1.c87154","group":"1799f648.6f29a2","name":"Bluetooth","order":5,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#708090\"   ng-click=\"send({payload: 'Hello World'})\"> \n    Blue<br/>tooth\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":80,"y":100,"wires":[["6403017a.a2ff5","cced9d4.9407ae"]]},{"id":"72563e84.fd9058","type":"ui_template","z":"47d2f2a1.c87154","group":"1799f648.6f29a2","name":"COAX1","order":6,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#708090\"   ng-click=\"send({payload: 'Hello World'})\"> \n    COAX 1<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":80,"y":180,"wires":[["db37ac54.ca17","982249fb.06b418"]]},{"id":"68c6fa46.a3938c","type":"ui_template","z":"47d2f2a1.c87154","group":"1799f648.6f29a2","name":"COAX2","order":7,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#708090\"   ng-click=\"send({payload: 'Hello World'})\"> \n    COAX 2<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":80,"y":260,"wires":[["70eecb8c.377f3c","9a773622.1c1e38"]]},{"id":"3936fd97.b61652","type":"ui_template","z":"47d2f2a1.c87154","group":"1799f648.6f29a2","name":"COAX3","order":8,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#708090\"   ng-click=\"send({payload: 'Hello World'})\"> \n    COAX 3<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":80,"y":340,"wires":[["2f217d2c.19d332","17665586.d863ba"]]},{"id":"45255ce5.0d918c","type":"ui_template","z":"47d2f2a1.c87154","group":"1799f648.6f29a2","name":"OPT1","order":10,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#708090\"   ng-click=\"send({payload: 'Hello World'})\"> \n   OPT 1<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":70,"y":500,"wires":[["db507bc6.c743e8","108725cb.d32252"]]},{"id":"c9ab0063.6a5af8","type":"ui_template","z":"47d2f2a1.c87154","group":"1799f648.6f29a2","name":"OPT2","order":11,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#708090\"   ng-click=\"send({payload: 'Hello World'})\"> \n   OPT 2<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":70,"y":580,"wires":[["f17ecc19.7d48e8","cd184de5.68e78"]]},{"id":"3dafa366.b5d50c","type":"ui_template","z":"47d2f2a1.c87154","group":"1799f648.6f29a2","name":"OPT3","order":12,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#708090\"   ng-click=\"send({payload: 'Hello World'})\"> \n   OPT 3<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":70,"y":660,"wires":[["bb281e2b.b72028","4594a8e8.5aff6"]]},{"id":"86036dd2.0da0d","type":"ui_template","z":"47d2f2a1.c87154","group":"1799f648.6f29a2","name":"USB","order":9,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#708090\"   ng-click=\"send({payload: 'Hello World'})\"> \n   USB<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":70,"y":420,"wires":[["c8644e2.d54edb","bab68db7.8a9898"]]},{"id":"e2dc7361.90f6c8","type":"ui_template","z":"47d2f2a1.c87154","group":"1799f648.6f29a2","name":"AUX","order":14,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#708090\"   ng-click=\"send({payload: 'Hello World'})\"> \n   AUX<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":70,"y":740,"wires":[["b7ca6807.d21168","d65b0d1e.fb5678"]]},{"id":"e194f0.7f6cb31","type":"ui_template","z":"47d2f2a1.c87154","group":"1799f648.6f29a2","name":"XLR","order":15,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#708090\"   ng-click=\"send({payload: 'Hello World'})\"> \n   XLR<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":70,"y":820,"wires":[["2fc90d30.68e152","9784c92c.e996c"]]},{"id":"c8e96387.f6c85","type":"change","z":"47d2f2a1.c87154","name":"3,C1888B74,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C1888B74,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":60,"wires":[["25a2e2ac.6763f6"]]},{"id":"f70f0612.25b3e","type":"change","z":"47d2f2a1.c87154","name":"3,C188E01F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C188E01F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":140,"wires":[["25a2e2ac.6763f6"]]},{"id":"7439c654.56a838","type":"change","z":"47d2f2a1.c87154","name":"3,C18810EF,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C18810EF,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":220,"wires":[["25a2e2ac.6763f6"]]},{"id":"dae27ccb.7b7528","type":"change","z":"47d2f2a1.c87154","name":"3,C188A05F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C188A05F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":380,"wires":[["25a2e2ac.6763f6"]]},{"id":"4b33b684.e34428","type":"change","z":"47d2f2a1.c87154","name":"3,C18831CE,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C18831CE,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":300,"wires":[["25a2e2ac.6763f6"]]},{"id":"d9975036.6005b","type":"change","z":"47d2f2a1.c87154","name":"3,C188738C,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C188738C,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":460,"wires":[["db74e04b.8e80b"]]},{"id":"4bc272aa.9a6e1c","type":"change","z":"47d2f2a1.c87154","name":"3,C188F30C,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C188F30C,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":540,"wires":[["db74e04b.8e80b"]]},{"id":"7e9f0123.240e98","type":"change","z":"47d2f2a1.c87154","name":"3,C188B14E,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C188B14E,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":620,"wires":[["db74e04b.8e80b"]]},{"id":"be032f84.13a748","type":"change","z":"47d2f2a1.c87154","name":"3,C188C03F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C188C03F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":700,"wires":[["db74e04b.8e80b"]]},{"id":"7479b8a0.e500a8","type":"change","z":"47d2f2a1.c87154","name":"3,C1884BB4,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C1884BB4,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":780,"wires":[["db74e04b.8e80b"]]},{"id":"db74e04b.8e80b","type":"mqtt out","z":"47d2f2a1.c87154","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":720,"y":780,"wires":[]},{"id":"4d4c2977.1eb8a","type":"ui_template","z":"47d2f2a1.c87154","group":"1799f648.6f29a2","name":"Phono","order":1,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#708090\"   ng-click=\"send({payload: 'Hello World'})\"> \n   Phono<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":70,"y":960,"wires":[["f394f4a5.249bf8","c5eb5e39.0fd338","fe354988.2367d"]]},{"id":"4cf119b4.944cf8","type":"change","z":"47d2f2a1.c87154","name":"3,C18850AF,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C18850AF,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":880,"wires":[["b4acb835.0cd7b8"]]},{"id":"8b6b070f.2820f","type":"ui_template","z":"47d2f2a1.c87154","group":"1799f648.6f29a2","name":"TUNER","order":3,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#708090\"   ng-click=\"send({payload: 'Hello World'})\"> \n   Tuner<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":80,"y":1080,"wires":[["4ac05863.5228e","b27142c7.9227b","12ec06c3.482cf1"]]},{"id":"75b02768.1a7198","type":"ui_template","z":"47d2f2a1.c87154","group":"1799f648.6f29a2","name":"CD","order":4,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#708090\"   ng-click=\"send({payload: 'Hello World'})\"> \n   CD<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":70,"y":1200,"wires":[["70964f08.bd9e6","caf6e232.a2ddb","395387aa.485508"]]},{"id":"e6495e5d.4a944","type":"ui_template","z":"47d2f2a1.c87154","group":"1799f648.6f29a2","name":"PC USB","order":13,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#708090\"   ng-click=\"send({payload: 'Hello World'})\"> \n   PC USB<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":80,"y":1320,"wires":[["9a67faa7.104e9","94b34113.a1ad7","2547f08b.d10318"]]},{"id":"1720fc40.a206c4","type":"change","z":"47d2f2a1.c87154","name":"3,C18840BF,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C18840BF,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1000,"wires":[["b4acb835.0cd7b8"]]},{"id":"4ac05863.5228e","type":"change","z":"47d2f2a1.c87154","name":"REM5 CH2 ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"REM5 CH2 ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1040,"wires":[["b4acb835.0cd7b8"]]},{"id":"3d8fb86d.24b8d8","type":"change","z":"47d2f2a1.c87154","name":"3,C188807F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C188807F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1120,"wires":[["dfc66a1d.3bfd9"]]},{"id":"70964f08.bd9e6","type":"change","z":"47d2f2a1.c87154","name":"REM5 CH3 ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"REM5 CH3 ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1160,"wires":[["dfc66a1d.3bfd9"]]},{"id":"3ec3fb7a.92593c","type":"change","z":"47d2f2a1.c87154","name":"3,C1880BF4,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C1880BF4,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1240,"wires":[["dfc66a1d.3bfd9"]]},{"id":"9a67faa7.104e9","type":"change","z":"47d2f2a1.c87154","name":"REM5 CH1 ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"REM5 CH1 ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1280,"wires":[["dfc66a1d.3bfd9"]]},{"id":"b4acb835.0cd7b8","type":"mqtt out","z":"47d2f2a1.c87154","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":800,"y":880,"wires":[]},{"id":"51ab11b1.9133d","type":"ui_template","z":"47d2f2a1.c87154","group":"1799f648.6f29a2","name":"css etc","order":2,"width":"0","height":"0","format":"<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n  \n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":80,"y":20,"wires":[[]]},{"id":"4c4543d6.6b0b8c","type":"ui_template","z":"47d2f2a1.c87154","group":"2bc1f28e.6dbd86","name":"Amp On","order":11,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#008000\"   ng-click=\"send({payload: 'Hello World'})\"> \n   On<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":80,"y":1600,"wires":[["d46e5212.5249e"]]},{"id":"d46e5212.5249e","type":"change","z":"47d2f2a1.c87154","name":"3,C18819E6","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C18819E6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1600,"wires":[["f8e7d54c.c743d"]]},{"id":"e3e94bab.82b6f","type":"ui_template","z":"47d2f2a1.c87154","group":"2bc1f28e.6dbd86","name":"Amp STBY","order":10,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#FF8C00\"   ng-click=\"send({payload: 'Hello World'})\"> \n   STBY<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":90,"y":1640,"wires":[["9d638f37.743e78","3243c9f9.61fa26"]]},{"id":"b26f7823.dad","type":"ui_text","z":"47d2f2a1.c87154","group":"2bc1f28e.6dbd86","order":8,"width":"2","height":"1","name":"","label":"Amp","format":"","layout":"row-spread","x":70,"y":1720,"wires":[]},{"id":"3ce9c78a.e7c96","type":"ui_template","z":"47d2f2a1.c87154","group":"2bc1f28e.6dbd86","name":"CD On","order":16,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#008000\"   ng-click=\"send({payload: 'Hello World'})\"> \n   On<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":70,"y":1800,"wires":[["bb48280c.12715","db5b1f41.86d408"]]},{"id":"57b7091d.175e68","type":"change","z":"47d2f2a1.c87154","name":"3,C14819E6,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C14819E6,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1840,"wires":[["8b71eeba.3ccf58"]]},{"id":"263150d3.435b28","type":"ui_template","z":"47d2f2a1.c87154","group":"2bc1f28e.6dbd86","name":"CD STBY","order":15,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#FF8C00\"   ng-click=\"send({payload: 'Hello World'})\"> \n   STBY<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":80,"y":1880,"wires":[["fc353f70.50b6b"]]},{"id":"fc353f70.50b6b","type":"change","z":"47d2f2a1.c87154","name":"3,C14801FE,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C14801FE,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1880,"wires":[["8b71eeba.3ccf58"]]},{"id":"81a4d1d2.70c05","type":"ui_text","z":"47d2f2a1.c87154","group":"2bc1f28e.6dbd86","order":13,"width":"2","height":"1","name":"","label":"CD","format":"","layout":"row-spread","x":70,"y":1840,"wires":[]},{"id":"18fb1771.71af99","type":"ui_template","z":"47d2f2a1.c87154","group":"2bc1f28e.6dbd86","name":"Tuner On","order":21,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#008000\"   ng-click=\"send({payload: 'Hello World'})\"> \n   On<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":80,"y":2000,"wires":[["c8cdd067.da8568","45102dcb.25f24c"]]},{"id":"7a26c7cc.724358","type":"change","z":"47d2f2a1.c87154","name":"3,C19019E6,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C19019E6,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":2040,"wires":[["5b48b25c.7530ec"]]},{"id":"a9d94434.3053","type":"ui_template","z":"47d2f2a1.c87154","group":"2bc1f28e.6dbd86","name":"Tuner STBY","order":20,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#FF8C00\"   ng-click=\"send({payload: 'Hello World'})\"> \n   STBY<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":90,"y":2080,"wires":[["744e61d.233d82"]]},{"id":"744e61d.233d82","type":"change","z":"47d2f2a1.c87154","name":"3,C19001FE,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C19001FE,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":2080,"wires":[["5b48b25c.7530ec"]]},{"id":"6f1e9ac2.22f13c","type":"ui_text","z":"47d2f2a1.c87154","group":"2bc1f28e.6dbd86","order":18,"width":"2","height":"1","name":"","label":"Tuner","format":"","layout":"row-spread","x":70,"y":2040,"wires":[]},{"id":"2890e24d.eb6566","type":"ui_led","z":"47d2f2a1.c87154","group":"2bc1f28e.6dbd86","order":17,"width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"REM5 CH2 ON","valueType":"str"},{"color":"grey","value":"REM5 CH2 OFF","valueType":"str"}],"allowColorForValueInMessage":false,"name":"REM5 CH2 LED","x":620,"y":3180,"wires":[]},{"id":"f23a07ee.b94718","type":"mqtt in","z":"47d2f2a1.c87154","name":"","topic":"RFSwitch1","qos":"2","datatype":"auto","broker":"14126d53.044b83","x":80,"y":3240,"wires":[["2800399f.f3ae9e"]]},{"id":"da5d90df.103dd","type":"mqtt in","z":"47d2f2a1.c87154","name":"","topic":"ir_server/send","qos":"2","datatype":"auto","broker":"14126d53.044b83","x":100,"y":3140,"wires":[["88ba723b.e33f58","e8539900.ff2128","e57e4087.97d3c8","784cd460.f8507c","88717597.4d5278"]]},{"id":"c4f9ecf7.a649b8","type":"ui_led","z":"47d2f2a1.c87154","group":"2bc1f28e.6dbd86","order":12,"width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"REM5 CH3 ON","valueType":"str"},{"color":"grey","value":"REM5 CH3 OFF","valueType":"str"}],"allowColorForValueInMessage":false,"name":"REM5 CH3 LED","x":620,"y":3220,"wires":[]},{"id":"1b3e31db.3dc386","type":"ui_led","z":"47d2f2a1.c87154","group":"2bc1f28e.6dbd86","order":22,"width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"REM5 CH1 ON","valueType":"str"},{"color":"grey","value":"REM5 CH1 OFF","valueType":"str"}],"allowColorForValueInMessage":false,"name":"REM5 CH1 LED","x":620,"y":3140,"wires":[]},{"id":"2226cb32.2026c4","type":"ui_led","z":"47d2f2a1.c87154","group":"2bc1f28e.6dbd86","order":27,"width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"REM5 CH4 ON","valueType":"str"},{"color":"grey","value":"REM5 CH4 OFF","valueType":"str"}],"allowColorForValueInMessage":false,"name":"REM5 CH4 LED","x":620,"y":3260,"wires":[]},{"id":"4fe2a40a.02cdc4","type":"ui_template","z":"47d2f2a1.c87154","group":"2bc1f28e.6dbd86","name":"CD Off","order":14,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#DC143C\"   ng-click=\"send({payload: 'Hello World'})\"> \n   Off<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":70,"y":1920,"wires":[["6c97f686.dc503"]]},{"id":"4e4b51c4.82513","type":"ui_template","z":"47d2f2a1.c87154","group":"2bc1f28e.6dbd86","name":"Tuner OFF","order":19,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#DC143C\"   ng-click=\"send({payload: 'Hello World'})\"> \n   Off<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":90,"y":2120,"wires":[["d442c0dc.f5c47"]]},{"id":"8f2dd607.501ee","type":"ui_template","z":"47d2f2a1.c87154","group":"2bc1f28e.6dbd86","name":"Amp blank","order":9,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#708090\"   ng-click=\"send({payload: 'Hello World'})\"> \n   <br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":90,"y":1680,"wires":[[]]},{"id":"9b43b4a.47355c8","type":"ui_template","z":"47d2f2a1.c87154","group":"2bc1f28e.6dbd86","name":"Phono On","order":31,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#008000\"   ng-click=\"send({payload: 'Hello World'})\"> \n   On<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":90,"y":2180,"wires":[["d0f41372.16075"]]},{"id":"d0f41372.16075","type":"change","z":"47d2f2a1.c87154","name":"REM5 CH4 ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"REM5 CH4 ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":2180,"wires":[["103bd1b5.b900ee"]]},{"id":"b189a4bd.a1845","type":"ui_text","z":"47d2f2a1.c87154","group":"2bc1f28e.6dbd86","order":28,"width":"2","height":"1","name":"","label":"Phono","format":"","layout":"row-spread","x":330,"y":2220,"wires":[]},{"id":"f94cf74d.b9833","type":"ui_template","z":"47d2f2a1.c87154","group":"2bc1f28e.6dbd86","name":"Phono OFF","order":29,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#DC143C\"   ng-click=\"send({payload: 'Hello World'})\"> \n   Off<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":90,"y":2260,"wires":[["222aca80.606726"]]},{"id":"222aca80.606726","type":"change","z":"47d2f2a1.c87154","name":"REM5 CH4 OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"REM5 CH4 OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":2260,"wires":[["103bd1b5.b900ee"]]},{"id":"c3f94b33.2dd588","type":"ui_template","z":"47d2f2a1.c87154","group":"2bc1f28e.6dbd86","name":"Phono blank","order":30,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#708090\"   ng-click=\"send({payload: 'Hello World'})\"> \n   <br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":90,"y":2220,"wires":[[]]},{"id":"f7d4f5e8.059108","type":"ui_template","z":"47d2f2a1.c87154","group":"2bc1f28e.6dbd86","name":"Sub On","order":36,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#008000\"   ng-click=\"send({payload: 'Hello World'})\"> \n   On<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":80,"y":2320,"wires":[["4c6636a5.ce6d28"]]},{"id":"4c6636a5.ce6d28","type":"change","z":"47d2f2a1.c87154","name":"REM1 CH1 ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"REM1 CH1 ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":2320,"wires":[["978a7e68.dd7a6"]]},{"id":"e928a215.419d68","type":"ui_text","z":"47d2f2a1.c87154","group":"2bc1f28e.6dbd86","order":33,"width":"2","height":"1","name":"","label":"Subwoofer","format":"","layout":"row-spread","x":90,"y":2400,"wires":[]},{"id":"5406e7bd.c3e2b","type":"ui_template","z":"47d2f2a1.c87154","group":"2bc1f28e.6dbd86","name":"Sub OFF","order":34,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#DC143C\"   ng-click=\"send({payload: 'Hello World'})\"> \n   Off<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":80,"y":2360,"wires":[["86dd8a7e.445d48"]]},{"id":"86dd8a7e.445d48","type":"change","z":"47d2f2a1.c87154","name":"REM1 CH1 OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"REM1 CH1 OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":2360,"wires":[["978a7e68.dd7a6"]]},{"id":"5299fa8f.091ea4","type":"ui_template","z":"47d2f2a1.c87154","group":"2bc1f28e.6dbd86","name":"Sub blank","order":35,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#708090\"   ng-click=\"send({payload: 'Hello World'})\"> \n   <br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":80,"y":2440,"wires":[[]]},{"id":"2257f773.bda5a","type":"ui_led","z":"47d2f2a1.c87154","group":"2bc1f28e.6dbd86","order":32,"width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"REM1 CH1 ON","valueType":"str"},{"color":"grey","value":"REM1 CH1 OFF","valueType":"str"}],"allowColorForValueInMessage":false,"name":"REM1 CH1 LED","x":620,"y":3300,"wires":[]},{"id":"bb48280c.12715","type":"change","z":"47d2f2a1.c87154","name":"REM5 CH3 ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"REM5 CH3 ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1800,"wires":[["8b71eeba.3ccf58"]]},{"id":"db5b1f41.86d408","type":"delay","z":"47d2f2a1.c87154","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220,"y":1840,"wires":[["57b7091d.175e68"]]},{"id":"6c97f686.dc503","type":"change","z":"47d2f2a1.c87154","name":"REM5 CH3 OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"REM5 CH3 OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1920,"wires":[["8b71eeba.3ccf58"]]},{"id":"c8cdd067.da8568","type":"delay","z":"47d2f2a1.c87154","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220,"y":2040,"wires":[["7a26c7cc.724358"]]},{"id":"45102dcb.25f24c","type":"change","z":"47d2f2a1.c87154","name":"REM5 CH2 ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"REM5 CH2 ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":2000,"wires":[["5b48b25c.7530ec"]]},{"id":"d442c0dc.f5c47","type":"change","z":"47d2f2a1.c87154","name":"REM5 CH2 OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"REM5 CH2 OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":2120,"wires":[["5b48b25c.7530ec"]]},{"id":"8b71eeba.3ccf58","type":"mqtt out","z":"47d2f2a1.c87154","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":620,"y":1860,"wires":[]},{"id":"5b48b25c.7530ec","type":"mqtt out","z":"47d2f2a1.c87154","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":620,"y":2060,"wires":[]},{"id":"103bd1b5.b900ee","type":"mqtt out","z":"47d2f2a1.c87154","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":620,"y":2220,"wires":[]},{"id":"f8e7d54c.c743d","type":"mqtt out","z":"47d2f2a1.c87154","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":620,"y":1600,"wires":[]},{"id":"88ba723b.e33f58","type":"switch","z":"47d2f2a1.c87154","name":"REM5 CH1 ON/OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"REM5 CH1 ON","vt":"str"},{"t":"eq","v":"REM5 CH1 OFF","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":380,"y":3140,"wires":[["1b3e31db.3dc386"],["1b3e31db.3dc386"]]},{"id":"e8539900.ff2128","type":"switch","z":"47d2f2a1.c87154","name":"REM5 CH2 ON/OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"REM5 CH2 ON","vt":"str"},{"t":"eq","v":"REM5 CH2 OFF","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":380,"y":3180,"wires":[["2890e24d.eb6566"],["2890e24d.eb6566"]]},{"id":"e57e4087.97d3c8","type":"switch","z":"47d2f2a1.c87154","name":"REM5 CH3 ON/OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"REM5 CH3 ON","vt":"str"},{"t":"eq","v":"REM5 CH3 OFF","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":380,"y":3220,"wires":[["c4f9ecf7.a649b8"],["c4f9ecf7.a649b8"]]},{"id":"784cd460.f8507c","type":"switch","z":"47d2f2a1.c87154","name":"REM5 CH4 ON/OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"REM5 CH4 ON","vt":"str"},{"t":"eq","v":"REM5 CH4 OFF","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":380,"y":3260,"wires":[["2226cb32.2026c4"],["2226cb32.2026c4"]]},{"id":"88717597.4d5278","type":"switch","z":"47d2f2a1.c87154","name":"REM1 CH1 ON/OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"REM1 CH1 ON","vt":"str"},{"t":"eq","v":"REM1 CH1 OFF","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":380,"y":3300,"wires":[["2257f773.bda5a"],["2257f773.bda5a"]]},{"id":"2800399f.f3ae9e","type":"delay","z":"47d2f2a1.c87154","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":110,"y":3300,"wires":[["88717597.4d5278","784cd460.f8507c","e57e4087.97d3c8","e8539900.ff2128","88ba723b.e33f58"]]},{"id":"978a7e68.dd7a6","type":"mqtt out","z":"47d2f2a1.c87154","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":620,"y":2340,"wires":[]},{"id":"5e05f3b5.c3e87c","type":"ui_template","z":"47d2f2a1.c87154","group":"71cb2c7a.40a574","name":"All Off","order":8,"width":"4","height":"3","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#DC143C\"   ng-click=\"send({payload: 'Hello World'})\"> \n   Switch<br/>Everything<br/>Off\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":70,"y":2760,"wires":[["382c26aa.c20dc2","ca29df6a.10fa4","b0e71365.2a44c","695ed609.b56fe8","a8f7353a.5361b8","dfab5ac2.9d7d3","43fb077f.3a5e2","ab2f519.e4569b","22b00bfe.35c644","3df1adc5.48cdba"]]},{"id":"bc7cc819.00aca8","type":"telnet-send","z":"47d2f2a1.c87154","name":"","connection":"fb4421a2.1b314","x":590,"y":1660,"wires":[]},{"id":"d04cb2c7.8212b","type":"change","z":"47d2f2a1.c87154","name":"!power_off!","rules":[{"t":"set","p":"payload","pt":"msg","to":"!power_off!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1680,"wires":[["bc7cc819.00aca8"]]},{"id":"3243c9f9.61fa26","type":"change","z":"47d2f2a1.c87154","name":"!mute!","rules":[{"t":"set","p":"payload","pt":"msg","to":"!mute!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1640,"wires":[["bc7cc819.00aca8"]]},{"id":"9d638f37.743e78","type":"delay","z":"47d2f2a1.c87154","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":1680,"wires":[["d04cb2c7.8212b"]]},{"id":"ebb51359.0b7a8","type":"telnet-send","z":"47d2f2a1.c87154","name":"","connection":"fb4421a2.1b314","x":670,"y":2780,"wires":[]},{"id":"889727f7.f8112","type":"change","z":"47d2f2a1.c87154","name":"!power_off!","rules":[{"t":"set","p":"payload","pt":"msg","to":"!power_off!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":2800,"wires":[["ebb51359.0b7a8"]]},{"id":"ca29df6a.10fa4","type":"change","z":"47d2f2a1.c87154","name":"!mute!","rules":[{"t":"set","p":"payload","pt":"msg","to":"!mute!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":2760,"wires":[["ebb51359.0b7a8"]]},{"id":"382c26aa.c20dc2","type":"delay","z":"47d2f2a1.c87154","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":2800,"wires":[["889727f7.f8112"]]},{"id":"b0e71365.2a44c","type":"delay","z":"47d2f2a1.c87154","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":2880,"wires":[["70796134.c310a8"]]},{"id":"70796134.c310a8","type":"change","z":"47d2f2a1.c87154","name":"REM5 CH2 OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"REM5 CH2 OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":2880,"wires":[["81e0be33.0d2708"]]},{"id":"eedcdf05.76ec78","type":"change","z":"47d2f2a1.c87154","name":"REM5 CH3 OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"REM5 CH3 OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":2920,"wires":[["81e0be33.0d2708"]]},{"id":"a361a4b6.f4bee8","type":"change","z":"47d2f2a1.c87154","name":"REM5 CH4 OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"REM5 CH4 OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":2960,"wires":[["81e0be33.0d2708"]]},{"id":"695ed609.b56fe8","type":"delay","z":"47d2f2a1.c87154","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":2920,"wires":[["eedcdf05.76ec78"]]},{"id":"a8f7353a.5361b8","type":"delay","z":"47d2f2a1.c87154","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":2960,"wires":[["a361a4b6.f4bee8"]]},{"id":"81e0be33.0d2708","type":"mqtt out","z":"47d2f2a1.c87154","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":720,"y":2920,"wires":[]},{"id":"dfab5ac2.9d7d3","type":"delay","z":"47d2f2a1.c87154","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":2840,"wires":[["fd5d0d6c.33a7c"]]},{"id":"716d8299.8dfbc4","type":"change","z":"47d2f2a1.c87154","name":"TV OFF -7,E0E040BF,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E040BF,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":2840,"wires":[["81e0be33.0d2708"]]},{"id":"bc746855.128b18","type":"change","z":"47d2f2a1.c87154","name":"REM5 CH1 OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"REM5 CH1 OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":3000,"wires":[["81e0be33.0d2708"]]},{"id":"43fb077f.3a5e2","type":"delay","z":"47d2f2a1.c87154","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":3000,"wires":[["bc746855.128b18"]]},{"id":"ab2f519.e4569b","type":"delay","z":"47d2f2a1.c87154","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":3040,"wires":[["20ffa50e.faa99a"]]},{"id":"20ffa50e.faa99a","type":"change","z":"47d2f2a1.c87154","name":"REM1 CH1 OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"REM1 CH1 OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":3040,"wires":[["81e0be33.0d2708"]]},{"id":"ffb7468f.957158","type":"ui_template","z":"47d2f2a1.c87154","group":"2bc1f28e.6dbd86","name":"Volumio On","order":26,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#008000\"   ng-click=\"send({payload: 'Hello World'})\"> \n   On<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":90,"y":2520,"wires":[["b93d1de1.122418"]]},{"id":"b93d1de1.122418","type":"change","z":"47d2f2a1.c87154","name":"REM5 CH1 ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"REM5 CH1 ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":2520,"wires":[["c1a4500a.012e3"]]},{"id":"592ab4.5876f54c","type":"ui_text","z":"47d2f2a1.c87154","group":"2bc1f28e.6dbd86","order":23,"width":"2","height":"1","name":"","label":"Volumio","format":"","layout":"row-spread","x":80,"y":2640,"wires":[]},{"id":"58adea43.587444","type":"ui_template","z":"47d2f2a1.c87154","group":"2bc1f28e.6dbd86","name":"Volumio OFF","order":24,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#DC143C\"   ng-click=\"send({payload: 'Hello World'})\"> \n   Off<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":90,"y":2560,"wires":[["3df1adc5.48cdba","22b00bfe.35c644"]]},{"id":"abb2a9af.2cbba8","type":"change","z":"47d2f2a1.c87154","name":"REM5 CH1 OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"REM5 CH1 OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":2560,"wires":[["c1a4500a.012e3"]]},{"id":"b515f11e.bd37c","type":"ui_template","z":"47d2f2a1.c87154","group":"2bc1f28e.6dbd86","name":"Volumio Shutdown","order":25,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#708090\"   ng-click=\"send({payload: 'Hello World'})\"> \n   <br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":110,"y":2600,"wires":[[]]},{"id":"c1a4500a.012e3","type":"mqtt out","z":"47d2f2a1.c87154","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":700,"y":2520,"wires":[]},{"id":"22b00bfe.35c644","type":"delay","z":"47d2f2a1.c87154","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":2560,"wires":[["abb2a9af.2cbba8"]]},{"id":"3df1adc5.48cdba","type":"bigssh","z":"47d2f2a1.c87154","name":"","commandLine":"sudo shutdown -h now","commandArgs":"","minError":1,"minWarning":1,"noStdin":true,"format":"","payloadIsArg":false,"myssh":"ddf24926.04d968","x":390,"y":2620,"wires":[[],[],[]]},{"id":"fd5d0d6c.33a7c","type":"switch","z":"47d2f2a1.c87154","name":"Check TV","property":"TVStatus","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":2840,"wires":[["716d8299.8dfbc4"]]},{"id":"4e8c0888.66bf9","type":"ui_template","z":"47d2f2a1.c87154","group":"2bc1f28e.6dbd86","name":"TV On","order":5,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#008000\"   ng-click=\"send({payload: 'Hello World'})\"> \n   On<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":70,"y":1400,"wires":[["f2de808c.a380b8"]]},{"id":"6df8d463.0eb29c","type":"mqtt out","z":"47d2f2a1.c87154","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":680,"y":1400,"wires":[]},{"id":"f2de808c.a380b8","type":"switch","z":"47d2f2a1.c87154","name":"Check TV","property":"TVStatus","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":240,"y":1400,"wires":[["6320047f.359c74"]]},{"id":"2ed7cac6.ab09ae","type":"ui_template","z":"47d2f2a1.c87154","group":"2bc1f28e.6dbd86","name":"TV OFF","order":3,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#DC143C\"   ng-click=\"send({payload: 'Hello World'})\"> \n   Off<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":80,"y":1440,"wires":[["bae9dae.a415d28"]]},{"id":"5bd798ce.321988","type":"ui_template","z":"47d2f2a1.c87154","group":"2bc1f28e.6dbd86","name":"TV blank","order":4,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#708090\"   ng-click=\"send({payload: 'Hello World'})\"> \n   <br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":80,"y":1480,"wires":[[]]},{"id":"37f00261.d390d6","type":"ui_text","z":"47d2f2a1.c87154","group":"2bc1f28e.6dbd86","order":2,"width":"2","height":"1","name":"","label":"Samsung TV","format":"","layout":"row-spread","x":90,"y":1520,"wires":[]},{"id":"b57b8509.706c2","type":"change","z":"47d2f2a1.c87154","name":"TV OFF -7,E0E040BF,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E040BF,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1440,"wires":[["6df8d463.0eb29c"]]},{"id":"bae9dae.a415d28","type":"switch","z":"47d2f2a1.c87154","name":"Check TV","property":"TVStatus","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":240,"y":1440,"wires":[["b57b8509.706c2"]]},{"id":"6320047f.359c74","type":"change","z":"47d2f2a1.c87154","name":"TV ON (0) 7,E0E08877,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E08877,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1400,"wires":[["6df8d463.0eb29c"]]},{"id":"25a2e2ac.6763f6","type":"mqtt out","z":"47d2f2a1.c87154","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":760,"y":380,"wires":[]},{"id":"c76b26ec.34a138","type":"telnet-send","z":"47d2f2a1.c87154","name":"","connection":"fb4421a2.1b314","x":730,"y":100,"wires":[]},{"id":"db37ac54.ca17","type":"change","z":"47d2f2a1.c87154","name":"!volume_35!","rules":[{"t":"set","p":"payload","pt":"msg","to":"!volume_35!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":180,"wires":[["c76b26ec.34a138"]]},{"id":"6403017a.a2ff5","type":"change","z":"47d2f2a1.c87154","name":"!volume_35!","rules":[{"t":"set","p":"payload","pt":"msg","to":"!volume_35!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":100,"wires":[["c76b26ec.34a138"]]},{"id":"70eecb8c.377f3c","type":"change","z":"47d2f2a1.c87154","name":"!volume_35!","rules":[{"t":"set","p":"payload","pt":"msg","to":"!volume_35!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":260,"wires":[["c76b26ec.34a138"]]},{"id":"2f217d2c.19d332","type":"change","z":"47d2f2a1.c87154","name":"!volume_35!","rules":[{"t":"set","p":"payload","pt":"msg","to":"!volume_35!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":340,"wires":[["c76b26ec.34a138"]]},{"id":"c8644e2.d54edb","type":"change","z":"47d2f2a1.c87154","name":"!volume_35!","rules":[{"t":"set","p":"payload","pt":"msg","to":"!volume_35!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":420,"wires":[["c76b26ec.34a138"]]},{"id":"db507bc6.c743e8","type":"change","z":"47d2f2a1.c87154","name":"!volume_35!","rules":[{"t":"set","p":"payload","pt":"msg","to":"!volume_35!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":500,"wires":[["7390175b.073198"]]},{"id":"cd184de5.68e78","type":"change","z":"47d2f2a1.c87154","name":"!volume_35!","rules":[{"t":"set","p":"payload","pt":"msg","to":"!volume_35!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":580,"wires":[["7390175b.073198"]]},{"id":"4594a8e8.5aff6","type":"change","z":"47d2f2a1.c87154","name":"!volume_35!","rules":[{"t":"set","p":"payload","pt":"msg","to":"!volume_35!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":660,"wires":[["7390175b.073198"]]},{"id":"d65b0d1e.fb5678","type":"change","z":"47d2f2a1.c87154","name":"!volume_35!","rules":[{"t":"set","p":"payload","pt":"msg","to":"!volume_35!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":740,"wires":[["7390175b.073198"]]},{"id":"9784c92c.e996c","type":"change","z":"47d2f2a1.c87154","name":"!volume_35!","rules":[{"t":"set","p":"payload","pt":"msg","to":"!volume_35!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":820,"wires":[["7390175b.073198"]]},{"id":"7390175b.073198","type":"telnet-send","z":"47d2f2a1.c87154","name":"","connection":"fb4421a2.1b314","x":730,"y":500,"wires":[]},{"id":"cced9d4.9407ae","type":"delay","z":"47d2f2a1.c87154","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":60,"wires":[["c8e96387.f6c85"]]},{"id":"982249fb.06b418","type":"delay","z":"47d2f2a1.c87154","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":140,"wires":[["f70f0612.25b3e"]]},{"id":"9a773622.1c1e38","type":"delay","z":"47d2f2a1.c87154","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":220,"wires":[["7439c654.56a838"]]},{"id":"17665586.d863ba","type":"delay","z":"47d2f2a1.c87154","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":300,"wires":[["4b33b684.e34428"]]},{"id":"bab68db7.8a9898","type":"delay","z":"47d2f2a1.c87154","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":380,"wires":[["dae27ccb.7b7528"]]},{"id":"108725cb.d32252","type":"delay","z":"47d2f2a1.c87154","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":460,"wires":[["d9975036.6005b"]]},{"id":"f17ecc19.7d48e8","type":"delay","z":"47d2f2a1.c87154","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":540,"wires":[["4bc272aa.9a6e1c"]]},{"id":"bb281e2b.b72028","type":"delay","z":"47d2f2a1.c87154","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":620,"wires":[["7e9f0123.240e98"]]},{"id":"b7ca6807.d21168","type":"delay","z":"47d2f2a1.c87154","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":700,"wires":[["be032f84.13a748"]]},{"id":"2fc90d30.68e152","type":"delay","z":"47d2f2a1.c87154","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":780,"wires":[["7479b8a0.e500a8"]]},{"id":"fe354988.2367d","type":"change","z":"47d2f2a1.c87154","name":"!volume_35!","rules":[{"t":"set","p":"payload","pt":"msg","to":"!volume_35!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":960,"wires":[["63407aa7.335b1c"]]},{"id":"b27142c7.9227b","type":"change","z":"47d2f2a1.c87154","name":"!volume_35!","rules":[{"t":"set","p":"payload","pt":"msg","to":"!volume_35!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1080,"wires":[["63407aa7.335b1c"]]},{"id":"caf6e232.a2ddb","type":"change","z":"47d2f2a1.c87154","name":"!volume_35!","rules":[{"t":"set","p":"payload","pt":"msg","to":"!volume_35!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1200,"wires":[["63407aa7.335b1c"]]},{"id":"2547f08b.d10318","type":"change","z":"47d2f2a1.c87154","name":"!volume_35!","rules":[{"t":"set","p":"payload","pt":"msg","to":"!volume_35!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1320,"wires":[["63407aa7.335b1c"]]},{"id":"c5eb5e39.0fd338","type":"delay","z":"47d2f2a1.c87154","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":880,"wires":[["4cf119b4.944cf8"]]},{"id":"12ec06c3.482cf1","type":"delay","z":"47d2f2a1.c87154","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":1000,"wires":[["1720fc40.a206c4"]]},{"id":"395387aa.485508","type":"delay","z":"47d2f2a1.c87154","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":1120,"wires":[["3d8fb86d.24b8d8"]]},{"id":"dfc66a1d.3bfd9","type":"mqtt out","z":"47d2f2a1.c87154","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":800,"y":1280,"wires":[]},{"id":"94b34113.a1ad7","type":"delay","z":"47d2f2a1.c87154","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":1240,"wires":[["3ec3fb7a.92593c"]]},{"id":"63407aa7.335b1c","type":"telnet-send","z":"47d2f2a1.c87154","name":"","connection":"fb4421a2.1b314","x":770,"y":1080,"wires":[]},{"id":"d9d28a80.f85cd","type":"ui_iframe","z":"47d2f2a1.c87154","group":"33d2f0b6.e21ac","name":"Volumio","order":0,"width":"12","height":"8","url":"http://192.168.0.13/playback","origin":"*","x":80,"y":3360,"wires":[[]]},{"id":"1799f648.6f29a2","type":"ui_group","name":"Source","tab":"feed4f6.4d4ba3","order":1,"disp":false,"width":"6","collapse":false},{"id":"14126d53.044b83","type":"mqtt-broker","name":"Home","broker":"192.168.0.11","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2bc1f28e.6dbd86","type":"ui_group","name":"Power","tab":"feed4f6.4d4ba3","order":2,"disp":false,"width":"6","collapse":false},{"id":"71cb2c7a.40a574","type":"ui_group","name":"Make a Selection","tab":"3bc16f89.b82dd8","order":1,"disp":false,"width":"12","collapse":false},{"id":"fb4421a2.1b314","type":"telnet-connection","name":"Amp","address":"192.168.0.26","port":"9590","inDelimiter":"!","outDelimiter":"!","timeOut":"1500","clearOut":"","openTries":"1"},{"id":"ddf24926.04d968","type":"SSH_Credentials","host":"192.168.0.13","port":"22","userlabel":"volumio@192.168.0.13"},{"id":"33d2f0b6.e21ac","type":"ui_group","name":"Volumio","tab":"5472f187.1e27a","order":1,"disp":false,"width":"12","collapse":false},{"id":"feed4f6.4d4ba3","type":"ui_tab","name":"Audio Source & Power","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"3bc16f89.b82dd8","type":"ui_tab","name":"Easy Access","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"5472f187.1e27a","type":"ui_tab","name":" Volumio","icon":"dashboard","order":7,"disabled":false,"hidden":false}]