EasyAccess.json
[{"id":"cd7a5ca9.c14378","type":"tab","label":"Easy Access","disabled":false,"info":""},{"id":"b7b135f7.48b95","type":"ui_template","z":"cd7a5ca9.c14378","group":"71cb2c7a.40a574","name":"css etc","order":1,"width":"0","height":"0","format":"<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n  \n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":100,"y":40,"wires":[[]]},{"id":"68347db5.04dfdc","type":"ui_template","z":"cd7a5ca9.c14378","group":"71cb2c7a.40a574","name":"Watch TV","order":3,"width":"4","height":"3","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#FF8C00\"   ng-click=\"send({payload: 'Hello World'})\"> \n    Watch<br/>TV\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":80,"y":1640,"wires":[["cea4b246.d2c46"]]},{"id":"bd87e4b2.7d013","type":"ui_template","z":"cd7a5ca9.c14378","group":"71cb2c7a.40a574","name":"Play A CD","order":5,"width":"4","height":"3","format":"\n<md-button class=\"filled touched bigfont rounded vibrate\" style=\"background-color:#F4A460\" ng-click=\"send({payload: 'Hello World'})\"> \n    Play<br/>a CD\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":90,"y":240,"wires":[["d78d963a.24531"]]},{"id":"9a5e7c21.009fd8","type":"ui_template","z":"cd7a5ca9.c14378","group":"71cb2c7a.40a574","name":"Listen to the Radio","order":4,"width":"4","height":"3","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: 'Hello World'})\"> \n    Listen to FM<br/>or<br/> Internet Radio\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":110,"y":540,"wires":[["6d8dcf12.0efdc"]]},{"id":"93e18a5e.4ad61","type":"ui_template","z":"cd7a5ca9.c14378","group":"71cb2c7a.40a574","name":"Volumio","order":6,"width":"4","height":"3","format":"\n<md-button class=\"filled touched bigfont rounded vibrate\" style=\"background-color:#27ae60\" ng-click=\"send({payload: 'Hello World'})\"> \n    Access Music<br/>Library<br/>or<br/>Stream Spotify<br/>on Volumio\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":80,"y":920,"wires":[["d9c0d420.b8a3f8"]]},{"id":"e20d4658.a76698","type":"ui_template","z":"cd7a5ca9.c14378","group":"71cb2c7a.40a574","name":"Phono","order":7,"width":"4","height":"3","format":"\n<md-button class=\"filled touched bigfont rounded vibrate\" style=\"background-color:#BA55D3\" ng-click=\"send({payload: 'Hello World'})\"> \n   Spin Some <br/>Vinyl\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":70,"y":1280,"wires":[["c0e211fd.b89e5"]]},{"id":"a0c3d00a.20df28","type":"change","z":"cd7a5ca9.c14378","name":"REM5 CH1 ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"REM5 CH1 ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":960,"wires":[["b07105f4.ee43b8"]]},{"id":"b07105f4.ee43b8","type":"mqtt out","z":"cd7a5ca9.c14378","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":980,"y":920,"wires":[]},{"id":"90a995e2.b08cc","type":"change","z":"cd7a5ca9.c14378","name":"REM5 CH4 ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"REM5 CH4 ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1320,"wires":[["c75fc8fd.958878"]]},{"id":"c75fc8fd.958878","type":"mqtt out","z":"cd7a5ca9.c14378","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":980,"y":1280,"wires":[]},{"id":"ec201965.09db7","type":"change","z":"cd7a5ca9.c14378","name":"Tuner ON(3,C19019E6,32)","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C19019E6,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":620,"wires":[["838daaa1.fb01f"]]},{"id":"d3266882.46eb28","type":"delay","z":"cd7a5ca9.c14378","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":620,"wires":[["ec201965.09db7"]]},{"id":"15048763.6e5659","type":"change","z":"cd7a5ca9.c14378","name":"REM5 CH2 ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"REM5 CH2 ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":580,"wires":[["838daaa1.fb01f"]]},{"id":"838daaa1.fb01f","type":"mqtt out","z":"cd7a5ca9.c14378","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":980,"y":560,"wires":[]},{"id":"f2f3de1a.61f358","type":"change","z":"cd7a5ca9.c14378","name":"CD ON (3,C14819E6,32)","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C14819E6,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":320,"wires":[["6de6c077.d39d1"]]},{"id":"3a4cd139.7be60e","type":"change","z":"cd7a5ca9.c14378","name":"REM5 CH3 ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"REM5 CH3 ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":280,"wires":[["6de6c077.d39d1"]]},{"id":"346202ce.d1a416","type":"delay","z":"cd7a5ca9.c14378","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":320,"wires":[["f2f3de1a.61f358"]]},{"id":"6de6c077.d39d1","type":"mqtt out","z":"cd7a5ca9.c14378","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":960,"y":260,"wires":[]},{"id":"a9f831a5.f2b7c8","type":"change","z":"cd7a5ca9.c14378","name":"AMP ON (3,C18819E6)","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C18819E6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":240,"wires":[["6de6c077.d39d1"]]},{"id":"edcf73b6.bea818","type":"change","z":"cd7a5ca9.c14378","name":"Source CD (3,C188807F,32)","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C188807F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":200,"wires":[["6de6c077.d39d1"]]},{"id":"bf7a369e.916258","type":"delay","z":"cd7a5ca9.c14378","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":200,"wires":[["edcf73b6.bea818"]]},{"id":"33c9c248.42a4a6","type":"telnet-send","z":"cd7a5ca9.c14378","name":"","connection":"fb4421a2.1b314","x":670,"y":160,"wires":[]},{"id":"79e4efa1.f83b7","type":"change","z":"cd7a5ca9.c14378","name":"!volume_35!","rules":[{"t":"set","p":"payload","pt":"msg","to":"!volume_35!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":160,"wires":[["33c9c248.42a4a6"]]},{"id":"1566564d.9a3fa2","type":"delay","z":"cd7a5ca9.c14378","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":280,"wires":[["3a4cd139.7be60e"]]},{"id":"a3b3738f.feb258","type":"delay","z":"cd7a5ca9.c14378","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":500,"wires":[["84860556.a8e2d8"]]},{"id":"cb6ae8d7.0b5268","type":"telnet-send","z":"cd7a5ca9.c14378","name":"","connection":"fb4421a2.1b314","x":670,"y":460,"wires":[]},{"id":"d2ce01fb.57e62","type":"change","z":"cd7a5ca9.c14378","name":"!volume_25!","rules":[{"t":"set","p":"payload","pt":"msg","to":"!volume_25!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":460,"wires":[["cb6ae8d7.0b5268"]]},{"id":"fc283319.fa9a38","type":"change","z":"cd7a5ca9.c14378","name":"AMP ON (3,C18819E6)","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C18819E6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":540,"wires":[["838daaa1.fb01f"]]},{"id":"2d8edc30.78d20c","type":"delay","z":"cd7a5ca9.c14378","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":580,"wires":[["15048763.6e5659"]]},{"id":"84860556.a8e2d8","type":"change","z":"cd7a5ca9.c14378","name":"Source Tuner (3,C18840BF,32)","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C18840BF,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":500,"wires":[["838daaa1.fb01f"]]},{"id":"7270fe19.740ac8","type":"delay","z":"cd7a5ca9.c14378","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":1240,"wires":[["87566c0e.476958"]]},{"id":"e4abe41f.886588","type":"telnet-send","z":"cd7a5ca9.c14378","name":"","connection":"fb4421a2.1b314","x":650,"y":1200,"wires":[]},{"id":"76af564c.e2fdb8","type":"change","z":"cd7a5ca9.c14378","name":"!volume_35!","rules":[{"t":"set","p":"payload","pt":"msg","to":"!volume_35!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1200,"wires":[["e4abe41f.886588"]]},{"id":"9e826fc9.b092d","type":"change","z":"cd7a5ca9.c14378","name":"AMP ON (3,C18819E6)","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C18819E6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1280,"wires":[["c75fc8fd.958878"]]},{"id":"ff139626.36f648","type":"delay","z":"cd7a5ca9.c14378","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":1320,"wires":[["90a995e2.b08cc"]]},{"id":"87566c0e.476958","type":"change","z":"cd7a5ca9.c14378","name":"Source Phono (3,C18850AF,32)","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C18850AF,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1240,"wires":[["c75fc8fd.958878"]]},{"id":"a9f9bed8.4d2848","type":"delay","z":"cd7a5ca9.c14378","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":880,"wires":[["7a3141e9.fbcdc"]]},{"id":"599a63f2.993a94","type":"telnet-send","z":"cd7a5ca9.c14378","name":"","connection":"fb4421a2.1b314","x":670,"y":840,"wires":[]},{"id":"154a7ea4.96e041","type":"change","z":"cd7a5ca9.c14378","name":"!volume_35!","rules":[{"t":"set","p":"payload","pt":"msg","to":"!volume_35!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":840,"wires":[["599a63f2.993a94"]]},{"id":"b8a9ef80.843dc8","type":"change","z":"cd7a5ca9.c14378","name":"AMP ON (3,C18819E6)","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C18819E6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":920,"wires":[["b07105f4.ee43b8"]]},{"id":"ad60c817.37e498","type":"delay","z":"cd7a5ca9.c14378","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":960,"wires":[["a0c3d00a.20df28"]]},{"id":"7a3141e9.fbcdc","type":"change","z":"cd7a5ca9.c14378","name":"Source PC_USB (3,C1880BF4,32)","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C1880BF4,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":880,"wires":[["b07105f4.ee43b8"]]},{"id":"c8645a90.98411","type":"delay","z":"cd7a5ca9.c14378","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":1600,"wires":[["fffc3f9e.b864d"]]},{"id":"d339f469.ee8708","type":"telnet-send","z":"cd7a5ca9.c14378","name":"","connection":"fb4421a2.1b314","x":730,"y":1560,"wires":[]},{"id":"bd6f1216.94d39","type":"change","z":"cd7a5ca9.c14378","name":"!volume_45!","rules":[{"t":"set","p":"payload","pt":"msg","to":"!volume_45!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1560,"wires":[["d339f469.ee8708"]]},{"id":"e63d6ae0.7fae88","type":"change","z":"cd7a5ca9.c14378","name":"AMP ON (3,C18819E6)","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C18819E6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1640,"wires":[["375e0848.379828"]]},{"id":"375e0848.379828","type":"mqtt out","z":"cd7a5ca9.c14378","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":1020,"y":1640,"wires":[]},{"id":"fffc3f9e.b864d","type":"change","z":"cd7a5ca9.c14378","name":"Source AUX (3,C188C03F,32)","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C188C03F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1600,"wires":[["375e0848.379828"]]},{"id":"671e83e0.cd61a4","type":"change","z":"cd7a5ca9.c14378","name":"TV ON (0) 7,E0E08877,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E08877,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1680,"wires":[["375e0848.379828"]]},{"id":"27f5b847.6e5b8","type":"delay","z":"cd7a5ca9.c14378","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":1680,"wires":[["671e83e0.cd61a4"]]},{"id":"250b921d.39ec3e","type":"change","z":"cd7a5ca9.c14378","name":"REM5 CH4 OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"REM5 CH4 OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":1800,"wires":[["375e0848.379828"]]},{"id":"151d113a.429af7","type":"change","z":"cd7a5ca9.c14378","name":"CD STBY (3,C14801FE,32)","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C14801FE,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1720,"wires":[["375e0848.379828"]]},{"id":"e2531b6e.e23ca8","type":"change","z":"cd7a5ca9.c14378","name":"TUNER STBY (3,C19001FE,32)","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C19001FE,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1760,"wires":[["375e0848.379828"]]},{"id":"3544501b.04db8","type":"delay","z":"cd7a5ca9.c14378","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":1720,"wires":[["151d113a.429af7"]]},{"id":"8188ebcc.4c27f8","type":"delay","z":"cd7a5ca9.c14378","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":1760,"wires":[["e2531b6e.e23ca8"]]},{"id":"435465ce.9eb7d4","type":"delay","z":"cd7a5ca9.c14378","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":1800,"wires":[["250b921d.39ec3e"]]},{"id":"f7077751.a67e","type":"change","z":"cd7a5ca9.c14378","name":"PC_USB PAUSE","rules":[{"t":"set","p":"payload","pt":"msg","to":"m","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1840,"wires":[["31cf3bfe.578ffc"]]},{"id":"31cf3bfe.578ffc","type":"mqtt out","z":"cd7a5ca9.c14378","name":"","topic":"Volumio-01/set/pause","qos":"","retain":"","broker":"14126d53.044b83","x":780,"y":1840,"wires":[]},{"id":"311e1e2c.093a62","type":"ui_text","z":"cd7a5ca9.c14378","group":"71cb2c7a.40a574","order":2,"width":"12","height":"1","name":"Display Text","label":"","format":"{{msg.payload}}","layout":"row-center","x":1710,"y":860,"wires":[]},{"id":"d78d963a.24531","type":"switch","z":"cd7a5ca9.c14378","name":"Check Status","property":"AmpStatus","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":240,"wires":[["55b432f0.aefda4"],["79e4efa1.f83b7","a9f831a5.f2b7c8","1566564d.9a3fa2","346202ce.d1a416","bf7a369e.916258","71ba794a.e21b08"]]},{"id":"6d8dcf12.0efdc","type":"switch","z":"cd7a5ca9.c14378","name":"Check Status","property":"AmpStatus","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":540,"wires":[["7a3390c6.6c489"],["d2ce01fb.57e62","a3b3738f.feb258","fc283319.fa9a38","2d8edc30.78d20c","d3266882.46eb28","18245fdf.e0476"]]},{"id":"d9c0d420.b8a3f8","type":"switch","z":"cd7a5ca9.c14378","name":"Check Status","property":"AmpStatus","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":240,"y":920,"wires":[["231112fe.422c46"],["ad60c817.37e498","a9f9bed8.4d2848","b8a9ef80.843dc8","154a7ea4.96e041","dc91607.399012","be5d9109.7f073","71cbfe30.4348e"]]},{"id":"c0e211fd.b89e5","type":"switch","z":"cd7a5ca9.c14378","name":"Check Status","property":"AmpStatus","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":240,"y":1280,"wires":[["87e1ebec.d980e8"],["ff139626.36f648","9e826fc9.b092d","7270fe19.740ac8","76af564c.e2fdb8","844853c.52e56b","7fc79a27.6bdd34","4550aa61.82084c"]]},{"id":"cea4b246.d2c46","type":"switch","z":"cd7a5ca9.c14378","name":"Check Status","property":"AmpStatus","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":240,"y":1640,"wires":[["93ab15bf.afb408","27f5b847.6e5b8"],["bd6f1216.94d39","c8645a90.98411","e63d6ae0.7fae88","27f5b847.6e5b8","3544501b.04db8","8188ebcc.4c27f8","435465ce.9eb7d4","f7077751.a67e","b53ba0a3.df32b8"]]},{"id":"a66f94a8.f39c1","type":"delay","z":"cd7a5ca9.c14378","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":970,"y":80,"wires":[["311e1e2c.093a62","2df87664.51d6da"]]},{"id":"59dedea8.4345d8","type":"delay","z":"cd7a5ca9.c14378","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":970,"y":120,"wires":[["311e1e2c.093a62","2df87664.51d6da"]]},{"id":"1b2493bb.837884","type":"delay","z":"cd7a5ca9.c14378","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":970,"y":380,"wires":[["311e1e2c.093a62","a27d99d3.3b8088"]]},{"id":"95324b60.c2c8d8","type":"delay","z":"cd7a5ca9.c14378","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":970,"y":420,"wires":[["311e1e2c.093a62","a27d99d3.3b8088"]]},{"id":"5cbec55a.09364c","type":"delay","z":"cd7a5ca9.c14378","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":990,"y":760,"wires":[["311e1e2c.093a62","e93a4082.89a06"]]},{"id":"4905408c.6b362","type":"delay","z":"cd7a5ca9.c14378","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":990,"y":800,"wires":[["311e1e2c.093a62","e93a4082.89a06"]]},{"id":"deefba4b.3211c","type":"delay","z":"cd7a5ca9.c14378","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":990,"y":1120,"wires":[["311e1e2c.093a62","cde32b76.ce9d58"]]},{"id":"d4f2627a.d2b25","type":"delay","z":"cd7a5ca9.c14378","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":990,"y":1160,"wires":[["311e1e2c.093a62","cde32b76.ce9d58"]]},{"id":"44c2f299.fc7254","type":"delay","z":"cd7a5ca9.c14378","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":990,"y":1480,"wires":[["311e1e2c.093a62","d496b7f8.d24e18"]]},{"id":"bf6e5421.f2d11","type":"delay","z":"cd7a5ca9.c14378","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":990,"y":1520,"wires":[["311e1e2c.093a62","d496b7f8.d24e18"]]},{"id":"d496b7f8.d24e18","type":"delay","z":"cd7a5ca9.c14378","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1200,"y":1500,"wires":[["9e79bed4.3b3828"]]},{"id":"cde32b76.ce9d58","type":"delay","z":"cd7a5ca9.c14378","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1180,"y":1200,"wires":[["9e79bed4.3b3828"]]},{"id":"e93a4082.89a06","type":"delay","z":"cd7a5ca9.c14378","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1180,"y":880,"wires":[["9e79bed4.3b3828"]]},{"id":"a27d99d3.3b8088","type":"delay","z":"cd7a5ca9.c14378","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":500,"wires":[["9e79bed4.3b3828"]]},{"id":"2df87664.51d6da","type":"delay","z":"cd7a5ca9.c14378","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1200,"y":120,"wires":[["9e79bed4.3b3828"]]},{"id":"3bdc5f31.fa9008","type":"debug","z":"cd7a5ca9.c14378","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":1900,"wires":[]},{"id":"cb658a4c.391b08","type":"switch","z":"cd7a5ca9.c14378","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":0,"y":0,"wires":[[]]},{"id":"680d9337.43c6ac","type":"switch","z":"cd7a5ca9.c14378","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":0,"y":0,"wires":[[]]},{"id":"b53ba0a3.df32b8","type":"change","z":"cd7a5ca9.c14378","name":"TV selected","rules":[{"t":"set","p":"payload","pt":"msg","to":"Watch TV selected","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1520,"wires":[["bf6e5421.f2d11"]]},{"id":"93ab15bf.afb408","type":"change","z":"cd7a5ca9.c14378","name":"AMP is off","rules":[{"t":"set","p":"payload","pt":"msg","to":"Please make sure there is Power to the TV and the AMP is switched On then make your choice again!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1480,"wires":[["44c2f299.fc7254","e63d6ae0.7fae88"]]},{"id":"9e79bed4.3b3828","type":"change","z":"cd7a5ca9.c14378","name":"Clear MSG","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1630,"y":540,"wires":[["311e1e2c.093a62"]]},{"id":"844853c.52e56b","type":"change","z":"cd7a5ca9.c14378","name":"Phono ","rules":[{"t":"set","p":"payload","pt":"msg","to":"Phono has been selected !","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1160,"wires":[["d4f2627a.d2b25"]]},{"id":"87e1ebec.d980e8","type":"change","z":"cd7a5ca9.c14378","name":"AMP is Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"Please make sure the AMP is switched On and select choice again!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1120,"wires":[["deefba4b.3211c","9e826fc9.b092d"]]},{"id":"dc91607.399012","type":"change","z":"cd7a5ca9.c14378","name":"Volumio Selected","rules":[{"t":"set","p":"payload","pt":"msg","to":"Volumio has been selected , Please use the Volumio APP or Browse to (192.168.0.13)  ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":800,"wires":[["4905408c.6b362"]]},{"id":"231112fe.422c46","type":"change","z":"cd7a5ca9.c14378","name":"AMP is Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"Please make sure the AMP is switched On and select choice again!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":760,"wires":[["5cbec55a.09364c","b8a9ef80.843dc8"]]},{"id":"18245fdf.e0476","type":"change","z":"cd7a5ca9.c14378","name":"Radio selected","rules":[{"t":"set","p":"payload","pt":"msg","to":"Tuner has been selected , Please use the Rotel APP to change stations!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":420,"wires":[["95324b60.c2c8d8"]]},{"id":"7a3390c6.6c489","type":"change","z":"cd7a5ca9.c14378","name":"AMP is Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"Please make sure the AMP is switched On and select choice again!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":380,"wires":[["1b2493bb.837884","fc283319.fa9a38"]]},{"id":"71ba794a.e21b08","type":"change","z":"cd7a5ca9.c14378","name":"CD selected","rules":[{"t":"set","p":"payload","pt":"msg","to":"Play a CD has been selected ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":120,"wires":[["59dedea8.4345d8"]]},{"id":"55b432f0.aefda4","type":"change","z":"cd7a5ca9.c14378","name":"AMP is Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"Please make sure the AMP is switched On and select choice again!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":80,"wires":[["a66f94a8.f39c1","a9f831a5.f2b7c8"]]},{"id":"60d38635.a73ee8","type":"change","z":"cd7a5ca9.c14378","name":"CD STBY (3,C14801FE,32)","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C14801FE,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1000,"wires":[["b07105f4.ee43b8"]]},{"id":"f9fc4b89.779e28","type":"change","z":"cd7a5ca9.c14378","name":"TUNER STBY (3,C19001FE,32)","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C19001FE,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1040,"wires":[["b07105f4.ee43b8"]]},{"id":"71cbfe30.4348e","type":"delay","z":"cd7a5ca9.c14378","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":1000,"wires":[["60d38635.a73ee8"]]},{"id":"be5d9109.7f073","type":"delay","z":"cd7a5ca9.c14378","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":1040,"wires":[["f9fc4b89.779e28"]]},{"id":"9ecb642.709bd98","type":"change","z":"cd7a5ca9.c14378","name":"CD STBY (3,C14801FE,32)","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C14801FE,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1360,"wires":[["c75fc8fd.958878"]]},{"id":"6e442b96.2ba2cc","type":"change","z":"cd7a5ca9.c14378","name":"TUNER STBY (3,C19001FE,32)","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,C19001FE,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1400,"wires":[["c75fc8fd.958878"]]},{"id":"7fc79a27.6bdd34","type":"delay","z":"cd7a5ca9.c14378","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":1360,"wires":[["9ecb642.709bd98"]]},{"id":"4550aa61.82084c","type":"delay","z":"cd7a5ca9.c14378","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":1400,"wires":[["6e442b96.2ba2cc"]]},{"id":"71cb2c7a.40a574","type":"ui_group","name":"Make a Selection","tab":"3bc16f89.b82dd8","order":1,"disp":false,"width":"12","collapse":false},{"id":"14126d53.044b83","type":"mqtt-broker","name":"Home","broker":"192.168.0.11","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fb4421a2.1b314","type":"telnet-connection","name":"Amp","address":"192.168.0.26","port":"9590","inDelimiter":"!","outDelimiter":"!","timeOut":"1500","clearOut":"","openTries":"1"},{"id":"3bc16f89.b82dd8","type":"ui_tab","name":"Easy Access","icon":"dashboard","order":1,"disabled":false,"hidden":false}]