TVChannelSelection.json
[{"id":"43274cdd.b18814","type":"tab","label":"TV Channel Selection","disabled":false,"info":""},{"id":"40d1dc67.9abc24","type":"ui_template","z":"43274cdd.b18814","group":"4aae7560.292de4","name":"Channel 7","order":3,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#008000\"   ng-click=\"send({payload: 'Channel'})\"> \n    7 HD<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":110,"y":100,"wires":[["f0b55f6.fa59d2","8d53a6bf.7bf758","fa82b063.c67bd8"]]},{"id":"3ec44eaa.3b0dba","type":"ui_template","z":"43274cdd.b18814","group":"4aae7560.292de4","name":"Channel 72","order":4,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#008000\"   ng-click=\"send({payload: 'Channel'})\"> \n    7 Two<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":110,"y":240,"wires":[["8334e74.407fd98","bfa0d81f.fc3418","8089a42c.2f823"]]},{"id":"4c34bd0d.fc2124","type":"ui_template","z":"43274cdd.b18814","group":"4aae7560.292de4","name":"Channel 74 ","order":5,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#008000\"   ng-click=\"send({payload: 'Hello World'})\"> \n    7 Mate HD<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":110,"y":380,"wires":[["9abb8808.409a5","41c58336.98b424","8f70bcd.7560bc"]]},{"id":"221ff89c.1c73d","type":"ui_template","z":"43274cdd.b18814","group":"4aae7560.292de4","name":"Channel 76","order":6,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#008000\"   ng-click=\"send({payload: 'Hello World'})\"> \n    7 Flix<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":110,"y":520,"wires":[["cec56e27.faaf8","e1237207.b6c44","a18cf9a6.573ce"]]},{"id":"8d53a6bf.7bf758","type":"change","z":"43274cdd.b18814","name":"0- 7,E0E08877,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E08877,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":60,"wires":[["bc4ad79.fa15628"]]},{"id":"fa82b063.c67bd8","type":"change","z":"43274cdd.b18814","name":"0- 7,E0E08877,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E08877,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":140,"wires":[["45600fed.2800a8"]]},{"id":"f0b55f6.fa59d2","type":"change","z":"43274cdd.b18814","name":"7- 7,E0E030CF,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E030CF,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":100,"wires":[["bae75971.d1d9b"]]},{"id":"45600fed.2800a8","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":140,"wires":[["bc4ad79.fa15628"]]},{"id":"bae75971.d1d9b","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":550,"y":100,"wires":[["bc4ad79.fa15628"]]},{"id":"bc4ad79.fa15628","type":"mqtt out","z":"43274cdd.b18814","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":760,"y":60,"wires":[]},{"id":"8334e74.407fd98","type":"change","z":"43274cdd.b18814","name":"0- 7,E0E08877,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E08877,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":200,"wires":[["9d4b3c6f.5434e"]]},{"id":"bfa0d81f.fc3418","type":"change","z":"43274cdd.b18814","name":"7- 7,E0E030CF,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E030CF,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":240,"wires":[["b101345b.cb2d18"]]},{"id":"82ca165d.89db5","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":280,"wires":[["9d4b3c6f.5434e"]]},{"id":"b101345b.cb2d18","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":550,"y":240,"wires":[["9d4b3c6f.5434e"]]},{"id":"9d4b3c6f.5434e","type":"mqtt out","z":"43274cdd.b18814","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":760,"y":200,"wires":[]},{"id":"8089a42c.2f823","type":"change","z":"43274cdd.b18814","name":"2- 7,E0E0A05F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0A05F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":280,"wires":[["82ca165d.89db5"]]},{"id":"9abb8808.409a5","type":"change","z":"43274cdd.b18814","name":"0- 7,E0E08877,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E08877,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":340,"wires":[["499daf38.d00a78"]]},{"id":"41c58336.98b424","type":"change","z":"43274cdd.b18814","name":"7- 7,E0E030CF,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E030CF,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":380,"wires":[["845f7413.dfc6e"]]},{"id":"a16a8548.e08e28","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":420,"wires":[["499daf38.d00a78"]]},{"id":"845f7413.dfc6e","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":550,"y":380,"wires":[["499daf38.d00a78"]]},{"id":"499daf38.d00a78","type":"mqtt out","z":"43274cdd.b18814","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":760,"y":340,"wires":[]},{"id":"cec56e27.faaf8","type":"change","z":"43274cdd.b18814","name":"0- 7,E0E08877,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E08877,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":480,"wires":[["c110190d.38943"]]},{"id":"e1237207.b6c44","type":"change","z":"43274cdd.b18814","name":"7- 7,E0E030CF,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E030CF,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":520,"wires":[["5bec578b.dfbc3"]]},{"id":"3e836b48.01410c","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":560,"wires":[["c110190d.38943"]]},{"id":"5bec578b.dfbc3","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":550,"y":520,"wires":[["c110190d.38943"]]},{"id":"c110190d.38943","type":"mqtt out","z":"43274cdd.b18814","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":760,"y":480,"wires":[]},{"id":"a18cf9a6.573ce","type":"change","z":"43274cdd.b18814","name":"6- 7,E0E050AF,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E050AF,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":560,"wires":[["3e836b48.01410c"]]},{"id":"1bbf077f.1c5059","type":"ui_template","z":"43274cdd.b18814","group":"29da05d1.af77e2","name":"Channel 9 HD","order":2,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#FF8C00\"   ng-click=\"send({payload: 'Channel'})\"> \n    9 HD<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":100,"y":1080,"wires":[["8cbe43ec.2ca158","b1ac6f47.010bf","569c8137.cb089"]]},{"id":"8cbe43ec.2ca158","type":"change","z":"43274cdd.b18814","name":"0- 7,E0E08877,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E08877,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1040,"wires":[["c2cd5fe4.9e63a"]]},{"id":"b1ac6f47.010bf","type":"change","z":"43274cdd.b18814","name":"0- 7,E0E08877,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E08877,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1120,"wires":[["35a1fb46.c510dc"]]},{"id":"35a1fb46.c510dc","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":1120,"wires":[["c2cd5fe4.9e63a"]]},{"id":"5ed4552c.6706cc","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":1080,"wires":[["c2cd5fe4.9e63a"]]},{"id":"c2cd5fe4.9e63a","type":"mqtt out","z":"43274cdd.b18814","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":740,"y":1040,"wires":[]},{"id":"569c8137.cb089","type":"change","z":"43274cdd.b18814","name":"9- 7,E0E0708F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0708F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1080,"wires":[["5ed4552c.6706cc"]]},{"id":"834ad1a6.e3758","type":"ui_template","z":"43274cdd.b18814","group":"29da05d1.af77e2","name":"Channel 92","order":3,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#FF8C00\"   ng-click=\"send({payload: 'Channel'})\"> \n    9 GEM<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":90,"y":1220,"wires":[["88d4ef9e.2cc388","779341f7.c5aa58","ac2ea3e1.f6af"]]},{"id":"88d4ef9e.2cc388","type":"change","z":"43274cdd.b18814","name":"0- 7,E0E08877,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E08877,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1180,"wires":[["b09418f0.af2ee8"]]},{"id":"e37045ce.8b55c","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":1260,"wires":[["b09418f0.af2ee8"]]},{"id":"8ae6c0a2.23fde8","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":1220,"wires":[["b09418f0.af2ee8"]]},{"id":"b09418f0.af2ee8","type":"mqtt out","z":"43274cdd.b18814","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":740,"y":1180,"wires":[]},{"id":"779341f7.c5aa58","type":"change","z":"43274cdd.b18814","name":"9- 7,E0E0708F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0708F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1220,"wires":[["8ae6c0a2.23fde8"]]},{"id":"6188763b.985d6","type":"ui_template","z":"43274cdd.b18814","group":"29da05d1.af77e2","name":"Channel 99","order":6,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#FF8C00\"   ng-click=\"send({payload: 'Channel'})\"> \n    9 GO HD<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":90,"y":1640,"wires":[["49980076.abfe58","2646fc00.95e20c","2f50ba21.8f9b06"]]},{"id":"eec911ea.1dd77","type":"ui_template","z":"43274cdd.b18814","group":"29da05d1.af77e2","name":"Channel 94","order":4,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#FF8C00\"   ng-click=\"send({payload: 'Channel'})\"> \n    9 Life<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":90,"y":1360,"wires":[["15b46aae.0c17c5","349a894c.9be876","a9edcc98.7c4dd8"]]},{"id":"ac2ea3e1.f6af","type":"change","z":"43274cdd.b18814","name":"2- 7,E0E0A05F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0A05F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1260,"wires":[["e37045ce.8b55c"]]},{"id":"15b46aae.0c17c5","type":"change","z":"43274cdd.b18814","name":"0- 7,E0E08877,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E08877,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1320,"wires":[["7930ce20.c514e8"]]},{"id":"dc1b7146.f10598","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":1400,"wires":[["7930ce20.c514e8"]]},{"id":"f8cf9a75.58ced","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":1360,"wires":[["7930ce20.c514e8"]]},{"id":"7930ce20.c514e8","type":"mqtt out","z":"43274cdd.b18814","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":740,"y":1320,"wires":[]},{"id":"349a894c.9be876","type":"change","z":"43274cdd.b18814","name":"9- 7,E0E0708F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0708F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1360,"wires":[["f8cf9a75.58ced"]]},{"id":"a9edcc98.7c4dd8","type":"change","z":"43274cdd.b18814","name":"4- 7,E0E010EF,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E010EF,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1400,"wires":[["dc1b7146.f10598"]]},{"id":"49980076.abfe58","type":"change","z":"43274cdd.b18814","name":"0- 7,E0E08877,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E08877,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1600,"wires":[["6d0b68ed.050ee8"]]},{"id":"e9d823f8.2ac44","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":1680,"wires":[["6d0b68ed.050ee8"]]},{"id":"5a4c2f07.d471a","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":1640,"wires":[["6d0b68ed.050ee8"]]},{"id":"6d0b68ed.050ee8","type":"mqtt out","z":"43274cdd.b18814","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":740,"y":1600,"wires":[]},{"id":"2646fc00.95e20c","type":"change","z":"43274cdd.b18814","name":"9- 7,E0E0708F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0708F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1640,"wires":[["5a4c2f07.d471a"]]},{"id":"2f50ba21.8f9b06","type":"change","z":"43274cdd.b18814","name":"9- 7,E0E0708F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0708F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1680,"wires":[["e9d823f8.2ac44"]]},{"id":"8f70bcd.7560bc","type":"change","z":"43274cdd.b18814","name":"4- 7,E0E010EF,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E010EF,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":420,"wires":[["a16a8548.e08e28"]]},{"id":"6becc57b.b7a10c","type":"ui_template","z":"43274cdd.b18814","group":"29da05d1.af77e2","name":"Channel 96","order":5,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#FF8C00\"   ng-click=\"send({payload: 'Channel'})\"> \n    9 Rush<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":90,"y":1500,"wires":[["49380031.532e38","32cb13d0.d17114","aade7d6a.3117f8"]]},{"id":"49380031.532e38","type":"change","z":"43274cdd.b18814","name":"0- 7,E0E08877,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E08877,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1460,"wires":[["5212692c.d28eb8"]]},{"id":"1ed3ff9f.a3264","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":1540,"wires":[["5212692c.d28eb8"]]},{"id":"c0100141.a0ec8","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":1500,"wires":[["5212692c.d28eb8"]]},{"id":"5212692c.d28eb8","type":"mqtt out","z":"43274cdd.b18814","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":740,"y":1460,"wires":[]},{"id":"32cb13d0.d17114","type":"change","z":"43274cdd.b18814","name":"9- 7,E0E0708F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0708F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1500,"wires":[["c0100141.a0ec8"]]},{"id":"aade7d6a.3117f8","type":"change","z":"43274cdd.b18814","name":"6- 7,E0E050AF,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E050AF,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1540,"wires":[["1ed3ff9f.a3264"]]},{"id":"b1dd5b49.0c7678","type":"ui_template","z":"43274cdd.b18814","group":"e4cc6c8f.695b68","name":"Channel 13","order":2,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#0000FF\"   ng-click=\"send({payload: 'Channel'})\"> \n    10 HD<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":90,"y":1860,"wires":[["292eb12d.03bd4e","bb564dc0.ed4418","92f06cec.67cc6"]]},{"id":"292eb12d.03bd4e","type":"change","z":"43274cdd.b18814","name":"0- 7,E0E08877,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E08877,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1820,"wires":[["f65216bd.6fe81"]]},{"id":"605b0314.a59e94","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":1900,"wires":[["f65216bd.6fe81"]]},{"id":"a2b2b83c.ada2a8","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":1860,"wires":[["f65216bd.6fe81"]]},{"id":"bb564dc0.ed4418","type":"change","z":"43274cdd.b18814","name":"1- 7,E0E020DF,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E020DF,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1860,"wires":[["a2b2b83c.ada2a8"]]},{"id":"92f06cec.67cc6","type":"change","z":"43274cdd.b18814","name":"3- 7,E0E0609F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0609F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1900,"wires":[["605b0314.a59e94"]]},{"id":"f65216bd.6fe81","type":"mqtt out","z":"43274cdd.b18814","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":740,"y":1820,"wires":[]},{"id":"d933c9b2.fb7e98","type":"change","z":"43274cdd.b18814","name":"0- 7,E0E08877,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E08877,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1960,"wires":[["ea3f7be4.dc1c88"]]},{"id":"4247aff7.d52d8","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":2040,"wires":[["ea3f7be4.dc1c88"]]},{"id":"40d5c9a3.687158","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":2000,"wires":[["ea3f7be4.dc1c88"]]},{"id":"ff4bac2a.0186a","type":"change","z":"43274cdd.b18814","name":"1- 7,E0E020DF,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E020DF,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":2000,"wires":[["40d5c9a3.687158"]]},{"id":"ea3f7be4.dc1c88","type":"mqtt out","z":"43274cdd.b18814","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":740,"y":1960,"wires":[]},{"id":"d52ba56d.a717d8","type":"change","z":"43274cdd.b18814","name":"1- 7,E0E020DF,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E020DF,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":2040,"wires":[["4247aff7.d52d8"]]},{"id":"dbb076a0.f09ae","type":"ui_template","z":"43274cdd.b18814","group":"e4cc6c8f.695b68","name":"Channel 11","order":3,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#0000FF\"   ng-click=\"send({payload: 'Channel'})\"> \n    10 Peach<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":90,"y":2000,"wires":[["d933c9b2.fb7e98","ff4bac2a.0186a","d52ba56d.a717d8"]]},{"id":"4f224e2a.d772","type":"change","z":"43274cdd.b18814","name":"0- 7,E0E08877,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E08877,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":2100,"wires":[["dfbef62c.b045c"]]},{"id":"839a4dd6.e33968","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":2180,"wires":[["dfbef62c.b045c"]]},{"id":"15e6a4a3.81ec13","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":2140,"wires":[["dfbef62c.b045c"]]},{"id":"a7906540.bd6d78","type":"change","z":"43274cdd.b18814","name":"1- 7,E0E020DF,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E020DF,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":2140,"wires":[["15e6a4a3.81ec13"]]},{"id":"dfbef62c.b045c","type":"mqtt out","z":"43274cdd.b18814","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":740,"y":2100,"wires":[]},{"id":"5894fb82.ce5494","type":"change","z":"43274cdd.b18814","name":"2- 7,E0E0A05F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0A05F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":2180,"wires":[["839a4dd6.e33968"]]},{"id":"ff034a9.26ac7b8","type":"ui_template","z":"43274cdd.b18814","group":"e4cc6c8f.695b68","name":"Channel 12","order":4,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#0000FF\"   ng-click=\"send({payload: 'Channel'})\"> \n    10 Bold<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":90,"y":2140,"wires":[["4f224e2a.d772","a7906540.bd6d78","5894fb82.ce5494"]]},{"id":"7dc4d85c.109e68","type":"ui_template","z":"43274cdd.b18814","group":"4aae7560.292de4","name":"css etc","order":1,"width":"0","height":"0","format":"<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n  \n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":100,"y":20,"wires":[[]]},{"id":"28b3f476.6e0b1c","type":"ui_template","z":"43274cdd.b18814","group":"4aae7560.292de4","name":"Channel 7 title","order":2,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#008000\"   ng-click=\"send({payload: 'Channel'})\"> \n    7<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":360,"y":20,"wires":[[]]},{"id":"735083c3.933fe4","type":"ui_template","z":"43274cdd.b18814","group":"29da05d1.af77e2","name":"9","order":1,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#FF8C00\"   ng-click=\"send({payload: 'Channel'})\"> \n    9<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":330,"y":980,"wires":[[]]},{"id":"157defdb.e0f858","type":"ui_template","z":"43274cdd.b18814","group":"e4cc6c8f.695b68","name":"10","order":1,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#0000FF\"   ng-click=\"send({payload: 'Channel'})\"> \n    10<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":310,"y":1780,"wires":[[]]},{"id":"34412906.359436","type":"ui_template","z":"43274cdd.b18814","group":"e4cc6c8f.695b68","name":"10 Spare 1","order":5,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#0000FF\"   ng-click=\"send({payload: 'Channel'})\"> \n    <br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":90,"y":2280,"wires":[[]]},{"id":"e1e6071b.53fb1","type":"ui_template","z":"43274cdd.b18814","group":"e4cc6c8f.695b68","name":"10 Spare 2","order":6,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#0000FF\"   ng-click=\"send({payload: 'Channel'})\"> \n    <br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":90,"y":2420,"wires":[[]]},{"id":"7208537c.5389ec","type":"ui_template","z":"43274cdd.b18814","group":"4aae7560.292de4","name":"7 Spare 1","order":6,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#008000\"   ng-click=\"send({payload: 'Hello World'})\"> \n    <br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":100,"y":620,"wires":[[]]},{"id":"328cf91e.6fe326","type":"ui_template","z":"43274cdd.b18814","group":"9b0d21b3.f0a888","name":"ABCTV HD","order":2,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#BA55D3\"   ng-click=\"send({payload: 'Channel'})\"> \n    ABCTV<br/>HD\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":90,"y":2640,"wires":[["6b0712bc.8744bc","52736229.d221fc","b6cc578c.857b6"]]},{"id":"6b0712bc.8744bc","type":"change","z":"43274cdd.b18814","name":"0- 7,E0E08877,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E08877,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":2600,"wires":[["89d4e3cf.1a6898"]]},{"id":"de7bbc10.438e6","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":2680,"wires":[["89d4e3cf.1a6898"]]},{"id":"e1bb987b.ada9a8","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":2640,"wires":[["89d4e3cf.1a6898"]]},{"id":"89d4e3cf.1a6898","type":"mqtt out","z":"43274cdd.b18814","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":740,"y":2600,"wires":[]},{"id":"dc8962e.d6b35a","type":"change","z":"43274cdd.b18814","name":"0- 7,E0E08877,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E08877,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":2740,"wires":[["e482e2ee.55f2b"]]},{"id":"a9ce79e7.1dd758","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":2820,"wires":[["e482e2ee.55f2b"]]},{"id":"a9ee4639.ea8a4","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":2780,"wires":[["e482e2ee.55f2b"]]},{"id":"e482e2ee.55f2b","type":"mqtt out","z":"43274cdd.b18814","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":740,"y":2740,"wires":[]},{"id":"7279322.8255bcc","type":"ui_template","z":"43274cdd.b18814","group":"9b0d21b3.f0a888","name":"ABC Kids","order":3,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#BA55D3\"   ng-click=\"send({payload: 'Channel'})\"> \n    ABCTV<br/>Plus\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":80,"y":2780,"wires":[["dc8962e.d6b35a","b9b561d9.7ab0f","ea1db41.73c8bc8"]]},{"id":"f47d1d37.531c8","type":"change","z":"43274cdd.b18814","name":"0- 7,E0E08877,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E08877,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":2880,"wires":[["6c9fd4a5.c0dfbc"]]},{"id":"7dec7235.756184","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":2960,"wires":[["6c9fd4a5.c0dfbc"]]},{"id":"eda62c59.f1e7f8","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":2920,"wires":[["6c9fd4a5.c0dfbc"]]},{"id":"6c9fd4a5.c0dfbc","type":"mqtt out","z":"43274cdd.b18814","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":740,"y":2880,"wires":[]},{"id":"df83305c.b75a18","type":"ui_template","z":"43274cdd.b18814","group":"9b0d21b3.f0a888","name":"ABC Me","order":4,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#BA55D3\"   ng-click=\"send({payload: 'Channel'})\"> \n    ABC<br/>Me\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":80,"y":2920,"wires":[["f47d1d37.531c8","ff2bca6e.78eb68","24b2fc47.e7455c"]]},{"id":"b769435e.228508","type":"ui_template","z":"43274cdd.b18814","group":"9b0d21b3.f0a888","name":"ABC","order":1,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#BA55D3\"   ng-click=\"send({payload: 'Channel'})\"> \n    ABC<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":310,"y":2560,"wires":[[]]},{"id":"3e0c0729.ffe28","type":"ui_template","z":"43274cdd.b18814","group":"9b0d21b3.f0a888","name":"ABC Perth","order":5,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#BA55D3\"   ng-click=\"send({payload: 'Channel'})\"> \n    ABC<br/>Perth\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":90,"y":3060,"wires":[["f283ba06.deae58","58409bfd.4284b4","e364e5c7.e2a19"]]},{"id":"5480ccd2.32f54c","type":"ui_template","z":"43274cdd.b18814","group":"9b0d21b3.f0a888","name":"ABC RN","order":6,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#BA55D3\"   ng-click=\"send({payload: 'Channel'})\"> \n    ABC<br/>RN\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":80,"y":3200,"wires":[["94d2a139.24eb38","ad321831.77499","25b5ffdf.d7645"]]},{"id":"49966989.c311c","type":"ui_template","z":"43274cdd.b18814","group":"dde7a2c7.5d1ce8","name":"SBS ONE","order":2,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#BDB76B\"   ng-click=\"send({payload: 'Channel'})\"> \n    ONE<br/>HD\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":80,"y":3400,"wires":[["959e0de1.75361","c8483d9d.6782c","5aea3bbf.c4762c"]]},{"id":"959e0de1.75361","type":"change","z":"43274cdd.b18814","name":"0- 7,E0E08877,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E08877,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":3360,"wires":[["7ba5f6a4.32ffa8"]]},{"id":"a09d529d.38c998","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":3440,"wires":[["7ba5f6a4.32ffa8"]]},{"id":"5cd0cfc6.994b88","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":3400,"wires":[["7ba5f6a4.32ffa8"]]},{"id":"7ba5f6a4.32ffa8","type":"mqtt out","z":"43274cdd.b18814","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":740,"y":3360,"wires":[]},{"id":"cac84fcf.5ad34","type":"change","z":"43274cdd.b18814","name":"0- 7,E0E08877,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E08877,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":3500,"wires":[["6956ebe5.eda574"]]},{"id":"ff55f7fc.82b278","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":3580,"wires":[["6956ebe5.eda574"]]},{"id":"4e66dc69.189644","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":3540,"wires":[["6956ebe5.eda574"]]},{"id":"6956ebe5.eda574","type":"mqtt out","z":"43274cdd.b18814","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":740,"y":3500,"wires":[]},{"id":"dada1f88.446e18","type":"change","z":"43274cdd.b18814","name":"1- 7,E0E020DF,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E020DF,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":3580,"wires":[["ff55f7fc.82b278"]]},{"id":"8315ff47.02efe8","type":"ui_template","z":"43274cdd.b18814","group":"dde7a2c7.5d1ce8","name":"SBS Viceland","order":3,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#BDB76B\"   ng-click=\"send({payload: 'Channel'})\"> \n    Viceland<br/>HD\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":100,"y":3540,"wires":[["cac84fcf.5ad34","dada1f88.446e18","518c379a.93d498"]]},{"id":"ea2d2178.84be1","type":"change","z":"43274cdd.b18814","name":"0- 7,E0E08877,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E08877,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":3640,"wires":[["ba88fd56.9da5c"]]},{"id":"6bd68f6.1bbdef","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":3720,"wires":[["ba88fd56.9da5c"]]},{"id":"604ce476.bf5c6c","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":3680,"wires":[["ba88fd56.9da5c"]]},{"id":"ba88fd56.9da5c","type":"mqtt out","z":"43274cdd.b18814","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":740,"y":3640,"wires":[]},{"id":"e39070f7.53ff8","type":"change","z":"43274cdd.b18814","name":"2- 7,E0E0A05F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0A05F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":3720,"wires":[["6bd68f6.1bbdef"]]},{"id":"98195eb9.d8546","type":"ui_template","z":"43274cdd.b18814","group":"dde7a2c7.5d1ce8","name":"SBS Movies","order":4,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#BDB76B\"   ng-click=\"send({payload: 'Channel'})\"> \n    World<br/>Movies\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":90,"y":3680,"wires":[["ea2d2178.84be1","e39070f7.53ff8","916dd338.87862"]]},{"id":"284f2eaa.dcc032","type":"ui_template","z":"43274cdd.b18814","group":"dde7a2c7.5d1ce8","name":"SBS","order":1,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#BDB76B\"   ng-click=\"send({payload: 'Channel'})\"> \n    SBS<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":310,"y":3320,"wires":[[]]},{"id":"63260517.9848ec","type":"ui_template","z":"43274cdd.b18814","group":"dde7a2c7.5d1ce8","name":"SBS Food","order":5,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#BDB76B\"   ng-click=\"send({payload: 'Channel'})\"> \n    Food<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":90,"y":3820,"wires":[["64e08153.fe09c8","264080ab.92da18","6d52ca3.cb99cb4"]]},{"id":"906afe98.c4985","type":"ui_template","z":"43274cdd.b18814","group":"dde7a2c7.5d1ce8","name":"SBS NITV","order":6,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#BDB76B\"   ng-click=\"send({payload: 'Channel'})\"> \n    NITV<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":80,"y":3960,"wires":[["89537876.4443f8","19941f3f.43b381","c05ffcfd.283be8"]]},{"id":"52736229.d221fc","type":"change","z":"43274cdd.b18814","name":"2- 7,E0E0A05F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0A05F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":2640,"wires":[["e1bb987b.ada9a8"]]},{"id":"b9b561d9.7ab0f","type":"change","z":"43274cdd.b18814","name":"2- 7,E0E0A05F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0A05F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":2780,"wires":[["a9ee4639.ea8a4"]]},{"id":"ff2bca6e.78eb68","type":"change","z":"43274cdd.b18814","name":"2- 7,E0E0A05F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0A05F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":2920,"wires":[["eda62c59.f1e7f8"]]},{"id":"c8483d9d.6782c","type":"change","z":"43274cdd.b18814","name":"3- 7,E0E0609F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0609F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":3400,"wires":[["5cd0cfc6.994b88"]]},{"id":"518c379a.93d498","type":"change","z":"43274cdd.b18814","name":"3- 7,E0E0609F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0609F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":3540,"wires":[["4e66dc69.189644"]]},{"id":"916dd338.87862","type":"change","z":"43274cdd.b18814","name":"3- 7,E0E0609F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0609F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":3680,"wires":[["604ce476.bf5c6c"]]},{"id":"64e08153.fe09c8","type":"change","z":"43274cdd.b18814","name":"0- 7,E0E08877,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E08877,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":3780,"wires":[["11733435.ae84a4"]]},{"id":"51fb3820.c1e82","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":3860,"wires":[["11733435.ae84a4"]]},{"id":"75097cfe.bf5c2c","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":3820,"wires":[["11733435.ae84a4"]]},{"id":"11733435.ae84a4","type":"mqtt out","z":"43274cdd.b18814","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":740,"y":3780,"wires":[]},{"id":"264080ab.92da18","type":"change","z":"43274cdd.b18814","name":"3- 7,E0E0609F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0609F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":3820,"wires":[["75097cfe.bf5c2c"]]},{"id":"19941f3f.43b381","type":"change","z":"43274cdd.b18814","name":"0- 7,E0E08877,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E08877,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":3920,"wires":[["27595948.ddf1d6"]]},{"id":"faf72a54.f1ff08","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":4000,"wires":[["27595948.ddf1d6"]]},{"id":"7bce18ed.bd625","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":3960,"wires":[["27595948.ddf1d6"]]},{"id":"27595948.ddf1d6","type":"mqtt out","z":"43274cdd.b18814","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":740,"y":3920,"wires":[]},{"id":"89537876.4443f8","type":"change","z":"43274cdd.b18814","name":"3- 7,E0E0609F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0609F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":3960,"wires":[["7bce18ed.bd625"]]},{"id":"f283ba06.deae58","type":"change","z":"43274cdd.b18814","name":"0- 7,E0E08877,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E08877,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":3020,"wires":[["d2603040.d20dd"]]},{"id":"404d0b66.f5c3f4","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":3100,"wires":[["d2603040.d20dd"]]},{"id":"48047881.9e1308","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":3060,"wires":[["d2603040.d20dd"]]},{"id":"d2603040.d20dd","type":"mqtt out","z":"43274cdd.b18814","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":740,"y":3020,"wires":[]},{"id":"58409bfd.4284b4","type":"change","z":"43274cdd.b18814","name":"2- 7,E0E0A05F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0A05F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":3060,"wires":[["48047881.9e1308"]]},{"id":"94d2a139.24eb38","type":"change","z":"43274cdd.b18814","name":"0- 7,E0E08877,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E08877,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":3160,"wires":[["b5b46c01.924268"]]},{"id":"56edab33.54e21c","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":3240,"wires":[["b5b46c01.924268"]]},{"id":"e45b8b23.405c48","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":3200,"wires":[["b5b46c01.924268"]]},{"id":"b5b46c01.924268","type":"mqtt out","z":"43274cdd.b18814","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":740,"y":3160,"wires":[]},{"id":"ad321831.77499","type":"change","z":"43274cdd.b18814","name":"2- 7,E0E0A05F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0A05F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":3200,"wires":[["e45b8b23.405c48"]]},{"id":"ba6b40b0.ced69","type":"change","z":"43274cdd.b18814","name":"0- 7,E0E08877,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E08877,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":2240,"wires":[["125095d2.146fb2"]]},{"id":"a068aabf.cf9b98","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":2320,"wires":[["125095d2.146fb2"]]},{"id":"5178ee14.ab22e8","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":2280,"wires":[["125095d2.146fb2"]]},{"id":"4e1f7920.5d01c","type":"change","z":"43274cdd.b18814","name":"1- 7,E0E020DF,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E020DF,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":2280,"wires":[["5178ee14.ab22e8"]]},{"id":"125095d2.146fb2","type":"mqtt out","z":"43274cdd.b18814","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":740,"y":2240,"wires":[]},{"id":"5538df25.4f29d8","type":"change","z":"43274cdd.b18814","name":"2- 7,E0E0A05F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0A05F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":2320,"wires":[["a068aabf.cf9b98"]]},{"id":"6b8bc52f.ef02cc","type":"change","z":"43274cdd.b18814","name":"0- 7,E0E08877,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E08877,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":2380,"wires":[["c5183568.1134b8"]]},{"id":"c6d698de.9ba468","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":2460,"wires":[["c5183568.1134b8"]]},{"id":"43d64006.077978","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":2420,"wires":[["c5183568.1134b8"]]},{"id":"d62057b.41acc28","type":"change","z":"43274cdd.b18814","name":"1- 7,E0E020DF,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E020DF,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":2420,"wires":[["43d64006.077978"]]},{"id":"c5183568.1134b8","type":"mqtt out","z":"43274cdd.b18814","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":740,"y":2380,"wires":[]},{"id":"74c73fe8.05728","type":"change","z":"43274cdd.b18814","name":"2- 7,E0E0A05F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0A05F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":2460,"wires":[["c6d698de.9ba468"]]},{"id":"9a4327e2.cfb32","type":"change","z":"43274cdd.b18814","name":"0- 7,E0E08877,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E08877,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":620,"wires":[["27513b9f.bd2834"]]},{"id":"75d12868.a2622","type":"change","z":"43274cdd.b18814","name":"7- 7,E0E030CF,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E030CF,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":660,"wires":[["9a91eef2.799978"]]},{"id":"eae4810b.a55358","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":700,"wires":[["27513b9f.bd2834"]]},{"id":"9a91eef2.799978","type":"delay","z":"43274cdd.b18814","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":550,"y":660,"wires":[["27513b9f.bd2834"]]},{"id":"27513b9f.bd2834","type":"mqtt out","z":"43274cdd.b18814","name":"","topic":"ir_server/send","qos":"","retain":"","broker":"14126d53.044b83","x":760,"y":620,"wires":[]},{"id":"447f799c.875c1","type":"change","z":"43274cdd.b18814","name":"6- 7,E0E050AF,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E050AF,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":700,"wires":[["eae4810b.a55358"]]},{"id":"b6cc578c.857b6","type":"change","z":"43274cdd.b18814","name":"0- 7,E0E08877,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E08877,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":2680,"wires":[["de7bbc10.438e6"]]},{"id":"ea1db41.73c8bc8","type":"change","z":"43274cdd.b18814","name":"2- 7,E0E0A05F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0A05F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":2820,"wires":[["a9ce79e7.1dd758"]]},{"id":"24b2fc47.e7455c","type":"change","z":"43274cdd.b18814","name":"3- 7,E0E0609F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0609F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":2960,"wires":[["7dec7235.756184"]]},{"id":"e364e5c7.e2a19","type":"change","z":"43274cdd.b18814","name":"5- 7,E0E0906F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0906F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":3100,"wires":[["404d0b66.f5c3f4"]]},{"id":"25b5ffdf.d7645","type":"change","z":"43274cdd.b18814","name":"6- 7,E0E050AF,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E050AF,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":3240,"wires":[["56edab33.54e21c"]]},{"id":"5aea3bbf.c4762c","type":"change","z":"43274cdd.b18814","name":"0- 7,E0E08877,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E08877,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":3440,"wires":[["a09d529d.38c998"]]},{"id":"6d52ca3.cb99cb4","type":"change","z":"43274cdd.b18814","name":"3- 7,E0E0609F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0609F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":3860,"wires":[["51fb3820.c1e82"]]},{"id":"c05ffcfd.283be8","type":"change","z":"43274cdd.b18814","name":"4- 7,E0E010EF,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E010EF,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":4000,"wires":[["faf72a54.f1ff08"]]},{"id":"a6335927.26d0d","type":"change","z":"43274cdd.b18814","name":"1- 7,E0E020DF,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E020DF,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":4060,"wires":[[]]},{"id":"d71d9b68.e8ba48","type":"change","z":"43274cdd.b18814","name":"2- 7,E0E0A05F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0A05F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":4180,"wires":[[]]},{"id":"7df6b784.eeb23","type":"change","z":"43274cdd.b18814","name":"3- 7,E0E0609F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0609F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":4180,"wires":[[]]},{"id":"f4022bda.02cc","type":"change","z":"43274cdd.b18814","name":"4- 7,E0E010EF,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E010EF,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":4100,"wires":[[]]},{"id":"b77b8c5d.441f78","type":"change","z":"43274cdd.b18814","name":"5- 7,E0E0906F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0906F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":4100,"wires":[[]]},{"id":"52a9e13a.527c3","type":"change","z":"43274cdd.b18814","name":"6- 7,E0E050AF,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E050AF,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":4220,"wires":[[]]},{"id":"cc5f5696.876f8","type":"change","z":"43274cdd.b18814","name":"7- 7,E0E030CF,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E030CF,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":4220,"wires":[[]]},{"id":"d54000fc.49de28","type":"change","z":"43274cdd.b18814","name":"8- 7,E0E0B04F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0B04F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":4140,"wires":[[]]},{"id":"240274c7.5460fc","type":"change","z":"43274cdd.b18814","name":"9- 7,E0E0708F,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E0708F,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":4140,"wires":[[]]},{"id":"d0edcd17.40a358","type":"change","z":"43274cdd.b18814","name":"0- 7,E0E08877,32","rules":[{"t":"set","p":"payload","pt":"msg","to":"7,E0E08877,32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":4060,"wires":[[]]},{"id":"57f34ffb.e27128","type":"ui_iframe","z":"43274cdd.b18814","group":"58859862.b099f","name":"Tv Guide","order":0,"width":"12","height":"8","url":"https://www.yourtv.com.au/guide/perth/","origin":"*","x":560,"y":20,"wires":[[]]},{"id":"4aae7560.292de4","type":"ui_group","name":"7 ","tab":"d75ea38f.956358","order":1,"disp":false,"width":"2","collapse":false},{"id":"14126d53.044b83","type":"mqtt-broker","name":"Home","broker":"192.168.0.11","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"29da05d1.af77e2","type":"ui_group","name":"9","tab":"d75ea38f.956358","order":2,"disp":false,"width":"2","collapse":false},{"id":"e4cc6c8f.695b68","type":"ui_group","name":"10","tab":"d75ea38f.956358","order":3,"disp":false,"width":"2","collapse":false},{"id":"9b0d21b3.f0a888","type":"ui_group","name":"ABC","tab":"d75ea38f.956358","order":4,"disp":false,"width":"2","collapse":false},{"id":"dde7a2c7.5d1ce8","type":"ui_group","name":"SBS","tab":"d75ea38f.956358","order":5,"disp":false,"width":"2","collapse":false},{"id":"58859862.b099f","type":"ui_group","name":"Your TV","tab":"913b9ff.84664e","order":1,"disp":false,"width":"12","collapse":false},{"id":"d75ea38f.956358","type":"ui_tab","name":"TV Channel Selection","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"913b9ff.84664e","type":"ui_tab","name":"TV Guide","icon":"dashboard","order":6,"disabled":false,"hidden":false}]